<form (ngSubmit)="save(journeyForm)" #journeyForm="ngForm" *ngIf="this.journey()">

  <div class="row geo-data-row mb-3">
    <div class="col-md-6 col-12">
      <div>
        <label for="geojson" class="form-label">
          <span>Tip:</span>
          <a class="geojson-tip me-2" href="https://geojson.io/" target="_blank">GeoJson Creator</a>
        </label>
        <textarea class="form-control geojson-field" rows="10" [(ngModel)]="geoJsonString" (change)="reloadMap()"
                  id="geojson" name="geojson" required>
          {{journey().extendedDetails?.geoDetails?.geoJson | json}}
        </textarea>
      </div>
    </div>

    <div class="col-12 col-md-6" style="position: relative; min-height: 25vh">
      <app-world-map class="h-50" [geoJsonData]="formGeoDetails().geoJson"/>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-grid gap-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-success" [disabled]="!journeyForm.form.valid">
        Save
      </button>
      <button type="button" class="btn btn-outline-primary" [disabled]="!journeyForm.form.valid"
              matStepperNext>Next
      </button>
    </div>
  </div>
</form>
