<mat-toolbar color="primary" class="toolbar flex justify-between align-middle">
  <!-- App Brand Section -->
  <div class="app-brand-section flex justify-between align-bottom p-2">
    <button mat-icon-button (click)="toggleNavigation.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-brand">
      <img src="assets/logo/journey-logo-180x180.png" alt="Journey" class="brand-logo"/>
    </a>
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-name">
      <h1 class="app-title text-primary dark:text-primary-dark">Journey</h1>
      <h6 class="app-tagline">Your Portal to the Past</h6>
    </a>
  </div>
  <div class="inline-flex">
    <!-- Dropdown (My Account) -->
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/my-account/profile">
        <div class="flex items-center">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </div>
      </button>
      <button mat-menu-item routerLink="/my-account/securitySettings">
        <div class="flex items-center">
          <mat-icon>settings</mat-icon>
          <span>Security Settings</span>
        </div>
      </button>
      <button mat-menu-item routerLink="/my-account/delete">
        <div class="flex items-center">
          <mat-icon>delete</mat-icon>
          <span>Delete Account</span>
        </div>
      </button>
    </mat-menu>

    <div class="inline-flex gap-2">
      <app-theme-toggle class="contents"/>
      <button [matMenuTriggerFor]="accountMenu" *ngIf="isUserAuthenticated()">
        <mat-icon matTooltip="My Account" class="text-primary">account_circle</mat-icon>
      </button>

      <button [routerLink]="LOGOUT_PAGE_INFO.path" *ngIf="isUserAuthenticated()">
        <mat-icon matTooltip="Logout" class="text-primary">power_settings_new</mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>
