<mat-toolbar color="primary" class="toolbar flex justify-between align-middle">
  <!-- App Brand Section -->
  <div class="app-brand-section flex justify-between align-bottom">
    <button mat-icon-button (click)="toggleNavigation.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-brand">
      <img ngSrc="assets/logo/journey-logo-180x180.png" alt="Journey" class="brand-logo" height="180" width="180"
           priority/>
    </a>
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-name">
      <h1 class="app-title text-primary dark:text-primary-dark">Journey</h1>
      <h6 class="app-tagline">Your Portal to the Past</h6>
    </a>
  </div>
  <div class="inline-flex">
    <app-toolbar-actions></app-toolbar-actions>
  </div>
</mat-toolbar>
