.location-card-container {
  background-size: cover;
  cursor: pointer;
  opacity: 1;
}

.location-card-container:hover {
  opacity: .90;
  box-shadow: 0 15px 10px -5px rgba(blue, 0.5);
  transition: all 0.2s ease;
}

.location-card-container .card-body {
  height: 10rem;
}
