<div class="card border-primary mb-3 overflow-hidden location-card-container bg-opacity-10"
     [style.background-image]="'url(' + location?.thumbnail + ')'" (click)="gotoLocation()">

  <div class="card-header bg-primary text-white fs-6 bg-opacity-75 p-2">
    {{location?.name}}
  </div>

  <div class="card-body bg-secondary bg-opacity-25"></div>

  <div class="card-footer bg-secondary bg-opacity-50 fw-bolder text-light-emphasis p-1 ps-4">
    <small>
      <span *ngFor="let tag of location?.tags"
            class="badge bg-primary me-1">{{tag}}</span>
    </small>
  </div>


</div>


<!--<img src="https://cdn.tourradar.com/s3/tour/1500x800/212563_62506a8095c55.jpg" alt="Chiemsee"
       class="location-card-bg-overlay bg-opacity-10">-->
