<app-page-header [pageInfo]="DASHBOARD_PAGE_INFO"></app-page-header>

<section class="container">
  <div class="row mb-2">
    <div class="col-12 d-flex gap-2 flex-wrap justify-content-center align-content-center">

      <div class="text-center border border-primary border-2 rounded rounded-2 p-2" style="min-width: 75px;">
        <span class="fs-6 gradient-text text-primary fw-bold">Journeys</span>
        <div class="small gradient-text fw-bold">{{ totalJourneys() }}</div>
      </div>
      <div class="text-center border border-primary border-2 rounded rounded-2 p-2" style="min-width: 75px;">
        <span class="fs-6 gradient-text text-primary fw-bold">Country</span>
        <div class="small gradient-text fw-bold">{{ totalCountry() }}</div>
      </div>
      <div class="text-center border border-primary border-2 rounded rounded-2 p-2" style="min-width: 75px;">
        <span class="fs-6 gradient-text text-primary fw-bold">City</span>
        <div class="small gradient-text fw-bold">{{ totalCity() }}</div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col" style="position: relative; height: 70vh;">
      <app-world-map [geoJsonData]="featureCollection()" [enablePopup]="true"></app-world-map>
    </div>
  </div>

</section>
