<div class="card border rounded-lg shadow-md pb-4">
  <!-- Card Header -->
  <div class="card-header text-lg fw-bold p-5 bg-primary-text">
    Two-Factor Authentication (2FA) - TOTP Activation
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <!-- Step 1: Install Authenticator App -->
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 1: Install an Authenticator App
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        To use 2FA, you will need an authenticator app installed on your mobile device. If you don’t already have one,
        download one of these apps:
      </p>
      <ol class="text-sm">
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en"
             target="_blank" class="text-primary font-bold underline">Google Authenticator (iOS and Android)</a>
        </li>
        <li>
          <a href="https://www.microsoft.com/en-us/security/mobile-authenticator-app" target="_blank"
             class="text-primary font-bold underline">Microsoft Authenticator (iOS and Android)</a>
        </li>
        <li>
          <a href="https://authy.com/download/" target="_blank" class="text-primary font-bold underline">
            Authy (iOS and Android)</a>
        </li>
      </ol>
    </mat-expansion-panel>

    <!-- Step 2: Scan the QR Code -->
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 2: Scan the QR Code
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ol class="text-sm">
        <li>Open your authenticator app.</li>
        <li>Tap the "+" icon to add a new account.</li>
        <li>Select the option to scan a QR code.</li>
        <li>Scan the QR code displayed below using your app.</li>
      </ol>
      <div class="qr-code-section flex justify-center items-center mt-4">
        @if (qrCodeData()) {
          <img id="qrCode" [src]="'data:image/png;base64,' + qrCodeData()?.data" alt="QR Code"
               class="w-48 h-48">
        } @else {
          <mat-spinner diameter="40"></mat-spinner>
        }
      </div>
      <div class="secret-key-section text-center mt-4">
        <p class="font-medium text-primary text-sm">
          Or enter the key manually: <strong>{{ qrCodeData()?.secretKey }}</strong>
        </p>
      </div>
    </mat-expansion-panel>

    <!-- Step 3: Enter the Verification Code -->
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 3: Confirm the Verification Code
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ol class="text-sm">
        <li>After scanning the QR code, your authenticator app will generate a 6-digit verification code.</li>
        <li>Enter the 6-digit code in the field below to activate 2FA.</li>
        <li>Click the "Activate" button to complete the process.</li>
        <li>You’ll receive a confirmation message once 2FA is successfully activated.</li>
      </ol>
      <div class="mt-3">
        <mat-form-field class="w-full">
          <mat-label>Code</mat-label>
          <input matInput type="text" inputmode="number" class="rounded-lg w-full" id="totpCode" name="totpCode"
                 aria-label="6 Digit TOTP Code" aria-describedby="totpCodeLabel" autocomplete="off"
                 ngModel #totpCode="ngModel" required pattern="[0-9]{6}" maxlength="6">
          @if (totpCode.invalid && totpCode.touched) {
            <mat-error>
              <p>Enter a valid 6-digit code.</p>
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="flex gap-2 mt-4 justify-end">
        <button mat-flat-button type="button" (click)="activate(totpCode)">Activate</button>
        <button mat-stroked-button type="button" (click)="cancelActivation()">Cancel</button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
