.journey-edit-stepper {
  .mat-horizontal-stepper-header {
    @apply max-sm:flex-col;
  }
  .mat-stepper-horizontal-line {
    @apply max-sm:border-none;
  }
}

.fc-event {
  cursor: pointer;
  background-color: #2E7D32 !important;
  border-color: #2E7D32 !important;
  color: white !important;
}


