// Angular Material Style Customization

/* chip styles */
.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  margin: 0 !important;
}

/* tab styles */
.mdc-tab--active * {
  @apply text-primary;
  transition: background-color 1s ease;
}

/* snackbar styles */
.success-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--app-success-background) !important;
  color: var(--app-on-status-background) !important;
}
.success-snackbar .mat-mdc-snackbar-surface::before {
  content: '✓';
  flex: 0 0 auto;
  margin-inline-end: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.error-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--app-danger-background) !important;
  color: var(--app-on-status-background) !important;
}
.error-snackbar .mat-mdc-snackbar-surface::before {
  content: '!';
  flex: 0 0 auto;
  margin-inline-end: 0.75rem;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 0.75rem;
  background: transparent;
  border-radius: 50%; /* Make it circular */
  border: 1.5px solid currentColor;
  color: inherit;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-snack-bar-action {
  color: var(--app-on-status-background) !important;
}

// Workaround to fix Material and Tailwind CSS style conflict for material form field's mat-label element's border-right issue
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch {
  border-right: none !important;
}

