.text-primary {
  @apply text-primary-light dark:text-primary-dark;
}

.gradient-text {
  @apply bg-gradient-primary bg-clip-text text-transparent;
}

.text-stroke-white {
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}

.text-stroke-blue {
  text-shadow: -1px -1px 0 #3459E6, 1px -1px 0 #3459E6, -1px 1px 0 #3459E6, 1px 1px 0 #3459E6;
}

.bg-primary-text {
  @apply bg-primary text-white dark:bg-gray-800 dark:text-primary-dark
}

.border-gradient-primary {
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(to right, #3459e6, #d53a9d) !important;
}

