.text-primary {
  @apply text-primary-light dark:text-primary-dark;
}

.gradient-text {
  @apply bg-gradient-primary bg-clip-text text-transparent;
}

.text-stroke-white {
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}

.text-stroke-blue {
  text-shadow: -1px -1px 0 var(--app-primary), 1px -1px 0 var(--app-primary),
    -1px 1px 0 var(--app-primary), 1px 1px 0 var(--app-primary);
}

.bg-primary-text {
  background-color: var(--app-primary);
  color: var(--app-on-primary);
}

.border-gradient-primary {
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(to right, var(--app-primary), var(--app-accent)) !important;
}

.text-primary-outline {
  text-shadow: -1px -1px 0 var(--app-primary), 1px -1px 0 var(--app-primary),
    -1px 1px 0 var(--app-primary), 1px 1px 0 var(--app-primary);
}

.thumbnail {
  width: 150px;
  height: 150px;
  cursor: pointer;
  @apply w-52 transition-transform transform hover:scale-105 duration-300 ease-in-out shadow-lg rounded-lg border-2 border-gray-200 dark:border-gray-700;
}
