<section
  class="container d-flex flex-column gradient-bg-light-left mt-2 pt-2 pb-3 border border-opacity-50 rounded-2 shadow border-primary"
  *ngIf="userData()">
  <div class="col d-inline-flex">
    <h4 class="gradient-text">Password</h4>
    <div class="status-badge text-nowrap">
      @if (isPasswordComplaint()) {
        <span class="text-success border border-success border-2 rounded-2 p-1 small ms-1 me-1"><i
          class="bi bi-check-circle-fill"></i> Complaint</span>
      } @else {
        <span class="text-danger border border-danger border-2 rounded-2 p-1 small ms-1 me-1"><i
          class="bi bi-exclamation-octagon-fill"></i> Non Complaint</span>
      }
    </div>
  </div>

  <div class="text-primary small">
    <p>We recommend changing your password at least every 3 months to enhance the security of your account.</p>
    <p *ngIf="userData()?.passwordChangedAt">Current Password Changed
      at <span
        class="fw-bold text-decoration-underline">{{ userData()?.passwordChangedAt | date:'dd.MM.YYYY, h:mm:ss a z' }}</span>
    </p>
  </div>

  <!-- View Mode -->
  <div *ngIf="!editMode()">
    <button type="button" class="btn btn-success" (click)="editMode.set(true)" [disableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">Change Password</button>
  </div>

  <!-- Edit Mode -->
  <div *ngIf="editMode()">
    <form (ngSubmit)="savePassword(newPassword)">
      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="labelNewPassword">New Password</span>
          <input type="password" class="form-control" aria-label="New Password" aria-describedby="labelNewPassword"
                 id="newPassword" name="newPassword" ngModel #newPassword autocomplete="new-password"
                 required min="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&^])[A-Za-z\d@.#$!%*?&]{8,50}$">
        </div>
        <p *ngIf="isErrorOccurred()" class="text-danger small fw-bold">
          Invalid Password. Valid Password should contain at least one lowercase, one upper case alphabets, at least one
          digit, one special character and contains length from 8 to 50.
        </p>
      </div>

      <div class="d-inline-flex gap-2">
        <button type="button" class="btn btn-outline-danger" (click)="editMode.set(false)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="savePassword(newPassword)">Save</button>
      </div>
    </form>
  </div>

</section>

