<section
  class="container mx-auto mt-4 p-6 border border-black/50 dark:border-white/50 shadow-lg rounded-lg shadow-lg"
  *ngIf="userData()">

  <!-- Header with Status -->
  <div class="flex items-center justify-between mb-4">
    <h4 class="text-primary text-lg font-bold">Password</h4>
    <div>
      @if (isPasswordComplaint()) {
        <span class="text-success flex items-center gap-1 text-sm" matTooltip="Compliant">
          <mat-icon>check_circle</mat-icon> Compliant
        </span>
      } @else {
        <span class="text-danger flex items-center gap-1 text-sm" matTooltip="Non-Compliant">
          <mat-icon>error</mat-icon> Non-Compliant
        </span>
      }
    </div>
  </div>

  <!-- Recommendation -->
  <div class="text-primary text-sm mb-4 flex flex-col gap-2">
    <p>We recommend changing your password at least every 3 months to enhance the security of your account.</p>
    <p *ngIf="userData()?.passwordChangedAt">
      Current Password Changed at
      <span class="font-bold underline">
        {{ userData()?.passwordChangedAt | date:'dd.MM.YYYY, h:mm:ss a z' }}
      </span>
    </p>
  </div>

  <!-- View Mode -->
  <div *ngIf="!editMode()">
    <button mat-flat-button type="button" (click)="editMode.set(true)" *ngIf="authService.hasAuthenticatedRole()">
      Change Password
    </button>
    <div *ngIf="!authService.hasAuthenticatedRole()">
      <p class="text-sm text-primary italic">You do have access to change password for the account.</p>
    </div>
  </div>

  <!-- Edit Mode -->
  <div *ngIf="editMode() && userData()">
    <form (ngSubmit)="savePassword(newPassword)" class="space-y-4">
      <input type="email" [hidden]="true" name="username" id="username" required placeholder="Username"
             [ngModel]="userData()!.username" autocomplete="username" #username="ngModel">

      <!-- New Password Input -->
      <div class="relative">
        <mat-form-field class="w-full">
          <mat-label>New Password</mat-label>
          <input matInput [type]="showPassword() ? 'text' : 'password'" id="newPassword" name="newPassword" ngModel #newPassword="ngModel"
                 autocomplete="new-password" required
                 minlength="8"
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&^])[A-Za-z\d@.#$!%*?&]{8,50}$">
          <button mat-icon-button type="button" matSuffix
            (click)="togglePasswordVisibility()">
            <mat-icon>{{showPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword.invalid && newPassword.touched">
            Password must be 8-50 characters long, include uppercase, lowercase, number, and special character.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Error Message -->
      <div *ngIf="isErrorOccurred()" class="text-danger text-sm font-bold">
        Invalid Password. Valid Password should contain at least one lowercase letter, one uppercase letter, one digit,
        one special character, and be 8 to 50 characters long.
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-end gap-2">
        <button mat-stroked-button type="button" (click)="editMode.set(false)">Cancel</button>
        <button mat-raised-button type="submit" [disabled]="newPassword.invalid">Save</button>
      </div>

    </form>
  </div>

</section>
