<!-- Dropdown (My Account) -->
<mat-menu #accountMenu="matMenu">
  <button mat-menu-item routerLink="/my-account/profile">
    <div class="flex items-center">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </div>
  </button>
  <button mat-menu-item routerLink="/my-account/securitySettings">
    <div class="flex items-center">
      <mat-icon>settings</mat-icon>
      <span>Security Settings</span>
    </div>
  </button>
  <button mat-menu-item routerLink="/my-account/delete">
    <div class="flex items-center">
      <mat-icon>delete</mat-icon>
      <span>Delete Account</span>
    </div>
  </button>
</mat-menu>

<div class="inline-flex">
  <button mat-icon-button routerLink="/login" *appHasAnonymous>
    <mat-icon matTooltip="Login" class="text-primary">lock_person</mat-icon>
  </button>
  <app-theme-toggle class="contents"/>
  <button mat-icon-button [matMenuTriggerFor]="accountMenu" *appHasAuthenticated>
    <mat-icon matTooltip="My Account" class="text-primary">account_circle</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="LOGOUT_PAGE_INFO.path" *appHasAuthenticated>
    <mat-icon matTooltip="Logout" class="text-primary">power_settings_new</mat-icon>
  </button>
</div>
