<!-- Side Navigation -->
<!-- Navigation Links -->
<mat-nav-list (click)="navigationLinkClick.emit()" (keydown.enter)="navigationLinkClick.emit()">
  <!-- Static Links -->
  <mat-list-item>
    <app-navigation-menu-item [pageInfo]="HOME" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="DASHBOARD" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="GALLERY" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="JOURNEY_SEARCH" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="STATISTICS" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="TIMELINE" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item>
    <app-navigation-menu-item [pageInfo]="TOOLS" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item>
    <app-navigation-menu-item [pageInfo]="ABOUT" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item *ngIf="!isUserAuthenticated()">
    <app-navigation-menu-item [pageInfo]="LOGIN" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

  <mat-list-item>
    <app-navigation-menu-item [pageInfo]="USER_MANUAL" [showLabel]="showLabel()"></app-navigation-menu-item>
  </mat-list-item>

</mat-nav-list>
