<section>
  <!-- Button to Open the Dialog -->
  <button type="button" mat-raised-button class="w-full" (click)="rawGeoJsonDialog.showModal()">
    Raw GeoJSON Data
  </button>

  <!-- Native Dialog -->
  <dialog #rawGeoJsonDialog class="w-[50%] h-[75vh] p-4 rounded-md shadow-lg border">
    <!-- Close Button -->
    <button type="button" mat-icon-button class="float-right" (click)="rawGeoJsonDialog.close()">
      <mat-icon>close</mat-icon>
    </button>

    <!-- Dialog Content -->
    <div class="flex flex-col h-full gap-4">
      <!-- Header -->
      <h4 class="text-xl font-semibold text-gradient border-b-2 border-primary">Geo JSON</h4>

      <!-- GeoJSON Text Area -->
      <textarea
        class="resize-none border rounded-md p-2 w-full h-full font-mono"
        [value]="geoJsonString()"
        (input)="onGeoJsonChange($event)"
        placeholder="Paste GeoJSON data here">
      </textarea>

      <!-- Save Button -->
      <button type="button" mat-raised-button class="w-full" (click)="rawGeoJsonDialog.close()">
        Save
      </button>

      <!-- Validation Message -->
      @if (isGeoJsonValid()) {
        <p class="text-green-600 flex items-center gap-2">
          <span class="material-icons">check_circle</span>
          GeoJSON valid
        </p>
      }
      @if (!isGeoJsonValid()) {
        <p class="text-red-600 flex items-center gap-2">
          <span class="material-icons">cancel</span>
          GeoJSON is not valid
        </p>
      }

      <!-- Tip Section -->
      <div>
        <p>
          Tip:
          <a href="https://geojson.io/" target="_blank" class="text-primary flex items-center gap-1">
            <span class="underline">Create GeoJSON</span>
            <mat-icon>open_in_new</mat-icon>
          </a>
        </p>
      </div>
    </div>
  </dialog>
</section>
