<section *ngIf="isLoadingCompleted()"
         class="container mx-auto mt-4 p-6 border border-opacity-50 rounded-lg shadow-lg border-primary flex flex-col">

  <!-- Header with Status -->
  <div class="flex items-center justify-between mb-4">
    <h4 class="text-primary text-lg font-bold">Authenticator TOTP</h4>
    <div>
      @if (isTotpActive()) {
        <span class="text-success flex items-center gap-1 text-sm" matTooltip="Activated">
          <mat-icon>check_circle</mat-icon> Activated
        </span>
      } @else {
        <span class="text-danger flex items-center gap-1 text-sm" matTooltip="Not Activated">
          <mat-icon>error</mat-icon> Not Activated
        </span>
      }
    </div>
  </div>

  <!-- Activation Section -->
  <div *ngIf="!isTotpActive()" class="flex justify-start">
    <button mat-flat-button type="button" (click)="setupTotp()"
            [appDisableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">
      Activate
    </button>
  </div>

  <!-- Deactivation & Testing Section -->
  <div *ngIf="isTotpActive()" class="flex gap-4 mt-4">
    <button mat-stroked-button type="button" (click)="confirmTotpDeactivation()"
            [appDisableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">
      Deactivate
    </button>
    <button mat-raised-button type="button" (click)="testCode()"
            [appDisableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">
      Test
    </button>
  </div>

</section>


