<dialog id="logoutDialog" #logoutDialog class="border-0 rounded-md mx-auto my-[20%]">
  <mat-card>
    <mat-card-header class="bg-primary-text">
      <div mat-card-avatar>
        <mat-icon>logout</mat-icon>
      </div>
      <mat-card-title>Logout</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mb-4 my-5">
      <p class="text-primary">Are you sure you want to logout ?</p>
    </mat-card-content>
    <mat-card-actions class="justify-center">
      <button mat-button type="button" (click)="logout()">Yes, Logout</button>
      <button mat-button type="button" (click)="home()">No, Stay</button>
    </mat-card-actions>
  </mat-card>

</dialog>
