.image-thumbnail-wrapper {
  position: relative;
  cursor: pointer;
}

.btn-image-remove {
  position: absolute;
  right: 0;
  border: none;
  background: transparent;
}

.img-thumbnail{
  object-fit: fill;
}
