<form (ngSubmit)="save()" *ngIf="this.journey">

  <div class="row mb-3">
    <div class="col-12">
      <app-feedback-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-feedback-message>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex mb-3 flex-wrap">
        @for (imageDetail of this.formImageDetails.images; track imageDetail.assetId; let i = $index) {
          <div class="m-2 image-thumbnail-wrapper" (click)="openImageItem(imageDetail)">

            <img
              [src]="imageDetail.url"
              [alt]="imageDetail.assetId"
              [title]="imageDetail.assetId"
              class="img-thumbnail rounded border border-2 border-opacity-75 h-60-px w-90-px"
              [ngClass]="{'border-success': imageDetail.isThumbnail, 'border-primary': !imageDetail.isThumbnail}"
            />
          </div>
        }
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 d-grid gap-2 d-flex justify-content-center">

      <button type="button" class="btn btn-outline-primary" (click)="openUploadWidget(true)">
        <i class="bi bi-folder-plus fs-5"></i><span class="ms-2">Upload Image(s)</span>
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="openUploadWidget(false)">
        <i class="bi bi-file-earmark-binary fs-5"></i><span class="ms-2">Upload Image</span>
      </button>

      <button type="button" class="btn btn-outline-primary" [disabled]="!journey.extendedDetails?.imagesDetails?.images"
              matStepperNext>Next
      </button>
    </div>
  </div>

</form>
