<form (ngSubmit)="save()" *ngIf="this.journey()">

  <div class="row">
    <div class="col-12">
      <div class="d-flex mb-3 flex-wrap">
        @for (imageDetail of this.formImageDetails().images; track imageDetail.assetId; let i = $index) {
          <a class="m-2 image-thumbnail-wrapper" (click)="openImageItem(imageDetail)" tabindex="0"
             (keyup.enter)="openImageItem(imageDetail)">
            <img
              [src]="imageDetail.url"
              alt="thumbnail"
              [title]="imageDetail.assetId"
              class="img-thumbnail rounded border border-2 border-opacity-75 h-60-px w-90-px"
              [ngClass]="{'border-success': imageDetail.isThumbnail, 'border-primary': !imageDetail.isThumbnail}"
            />
          </a>
        }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-grid gap-2 d-flex justify-content-center align-items-end">

      <button type="button" class="btn btn-outline-primary" (click)="openUploadWidget(true)">
        <i class="bi bi-folder-plus"></i><span class="ms-2">Upload Image(s)</span>
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="openUploadWidget(false)">
        <i class="bi bi-file-earmark-binary"></i><span class="ms-2">Upload Image</span>
      </button>
      <button type="button" class="btn btn-outline-primary"
              [disabled]="!journey().imagesDetails?.images"
              matStepperNext>Next
      </button>
      <a role="link" class="text-decoration-none" routerLink="/tools" target="_blank">Reduce Image Size<i
        class="bi bi-box-arrow-up-right ms-1"></i></a>
    </div>
  </div>

</form>

<dialog #imageItemDetailDialog class="w-100 w-md-75 border border-2 border-gradient-primary">
  <app-edit-journey-image-item [imageItem]="imageItemDetail()"
                               (save)="saveImageItemDetail($event)"
                               (remove)="deleteImageItemDetail($event)"
                               (cancel)="imageItemDialog().nativeElement.close()"
  />
</dialog>

