<form (ngSubmit)="save(journeyForm)" #journeyForm="ngForm" class="container" *ngIf="this.journey">

  <div class="row mb-3">
    <div class="col-12">
      <app-feedback-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-feedback-message>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="openUploadWidget()">Add Images</button>
      </div>
    </div>
    <div class="col-md-6 col-12 ">
      <p>Image Details</p>
      @if (formImageDetails.images) {
        <p *ngFor="let img of this.formImageDetails.images">
          {{ img | json }}
        </p>
      }

    </div>

    <div class="col-md-6 col-12 ">
      <p>Video Details</p>
    </div>
  </div>

</form>
