<main>
  <form (ngSubmit)="save()" *ngIf="this.journey()">

    <!-- Image Gallery -->
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-4 mb-4">
      @for (imageDetail of this.formImageDetails().images; track imageDetail.assetId; let i = $index) {
        <div
          class="relative group cursor-pointer border rounded-lg overflow-hidden transition-all duration-300 hover:shadow-lg focus-within:ring focus-within:ring-offset-2"
          [class.border-success]="imageDetail.isThumbnail"
          [class.border-primary]="!imageDetail.isThumbnail"
          (click)="openImageItem(imageDetail)"
          (keydown.enter)="openImageItem(imageDetail)"
          tabindex="-1">
          <!-- Thumbnail Image -->
          <img [src]="imageDetail.url" loading="lazy" alt="Thumbnail" title="{{ imageDetail.assetId }}"
               class="h-24 w-full object-contain"/>
          <!-- Selected Marker -->
          <div
            *ngIf="imageDetail.isThumbnail"
            class="absolute top-0 left-0 w-full h-full bg-black/30 flex items-center justify-center text-white font-bold text-sm">
            Selected
          </div>
        </div>
      }
    </div>


    <!-- Buttons -->
    <div class="flex flex-col md:flex-row items-center justify-center content-center gap-4">

      <button mat-fab extended type="button" (click)="openUploadWidget(true)">
        <mat-icon>drive_folder_upload</mat-icon>
        Upload Image(s)
      </button>

      <button mat-fab extended type="button" (click)="openUploadWidget(false)">
        <mat-icon>upload_file</mat-icon>
        Upload Image
      </button>

      <button mat-stroked-button type="button" matStepperNext>Next</button>

      <a class="text-primary flex flex-row justify-center" routerLink="/tools" target="_blank">
        <span class="hover:underline">Reduce Image Size</span>
        <mat-icon>open_in_new</mat-icon>
      </a>
    </div>
  </form>

  <!-- Image Item Detail Dialog -->
  <dialog #imageItemDetailDialog class="w-full md:w-3/4 p-4 rounded-lg border shadow-lg dark:bg-black">
    <app-edit-journey-image-item
      [imageItem]="imageItemDetail()"
      (saveItem)="saveImageItemDetail($event)"
      (removeItem)="deleteImageItemDetail($event)"
      (cancelItem)="imageItemDialog().nativeElement.close()">
    </app-edit-journey-image-item>
  </dialog>


</main>
