@if (message().success) {
  <div class="alert alert-success d-inline-flex w-100 align-content-center align-items-center" role="alert">
    <i class="bi bi-check-circle-fill pe-none me-2 fs-6"></i>
    <strong class="me-2">Success! </strong>
    <span>{{ message().success }}</span>
  </div>
}
@if (message().error) {
  <div class="alert alert-danger d-inline-flex w-100 align-content-center align-items-center" role="alert">
    <i class="bi bi-exclamation-octagon-fill pe-none me-2 fs-6"></i>
    <strong class="me-2">Error!</strong>
    <span>{{ message().error }}</span>
  </div>
}
@if (message().loading) {
  <div class="alert alert-light text-primary d-inline-flex w-100 gap-2  border  border-2 border-primary" role="alert">
    <mat-spinner diameter="25"></mat-spinner>
    <span> {{ message().loading }}</span>
  </div>
}


