<div *ngIf="data()?.heading" class="inline-flex mb-2">
  <h2 class="gradient-text me-2">{{ data()?.heading }}</h2>
  <ng-container *ngIf="images()?.length">

    <button mat-icon-button *ngIf="isPlayerRunning()" (click)="togglePlayer()"
            aria-label="Pause timeline" matTooltip="Pause">
      <mat-icon class="text-danger">pause_circle</mat-icon>
    </button>

    <button mat-icon-button *ngIf="!isPlayerRunning()" (click)="togglePlayer()"
            aria-label="Pause timeline" matTooltip="Play">
      <mat-icon class="text-success">play_circle</mat-icon>
    </button>
  </ng-container>
</div>

@if (images() && images().length > 0) {
  <gallery class="gallery" [items]="images()" [thumbs]="false" [imageSize]="'contain'" [bullets]="true"
           (itemClick)="togglePlayer()"
           [autoplayInterval]="3000" [loop]="true" [scrollDuration]="500" [autoplay]="true">
    <ng-container *galleryImageDef="let item;">
      <div class="w-full text-start flex flex-row" *ngIf="item?.args?.['title']">
        <span
          class="me-2 m-2 border-2 ps-2 pe-2 bg-black/25">{{ item?.args?.['title'] }}</span>
      </div>
      <div class="h-full w-full text-end flex flex-col justify-end p-2 mb-4">
        <p class="text-center bg-black/50">{{ item?.args?.['caption'] }}</p>
      </div>
    </ng-container>
  </gallery>
} @else {
  <div>
    <p class="text-primary">No events found.</p>
  </div>
}

