<div class="fs-5" *ngIf="timelineData()?.heading">
  <p><span class="gradient-text me-2" [textContent]="timelineData()?.heading"></span>
    <ng-container *ngIf="images()?.length">
      <button *ngIf="isPlayerRunning()" class="btn btn-sm btn-outline-primary" (click)="togglePlayer()"
              [matTooltip]="'Pause'">
        <i class="bi bi-pause-circle"></i>
      </button>
      <button *ngIf="!isPlayerRunning()" class="btn btn-sm btn-outline-primary" (click)="togglePlayer()"
              [matTooltip]="'Play'">
        <i class="bi bi-play-circle"></i>
      </button>
    </ng-container>
  </p>
</div>

@if (images() && images().length > 0) {
  <gallery class="gallery" [items]="images()" [thumb]="false" [imageSize]="'contain'" [dots]="true"
           (itemClick)="togglePlayer()"
           [playerInterval]="3000" [loop]="true" [slidingDuration]="500" [autoPlay]="true">
    <ng-container *galleryImageDef="let item;">
      <div class="text-start d-flex flex-row w-100" *ngIf="item?.args?.['title']">
        <span
          class="text-light me-2 fs-5 bg-dark bg-opacity-50 m-2 border border-2 border-light ps-2 pe-2 rounded-2">{{ item?.args?.['title'] }}</span>
      </div>
      <div class="h-100 w-100 text-end d-flex flex-column justify-content-end mb-2 fs-5">
        <p class="text-center bg-light bg-opacity-25">{{ item?.args?.['caption'] }}</p>
      </div>
    </ng-container>
  </gallery>
} @else {
  <div>
    <p class="gradient-text">No events found.</p>
  </div>
}

