<div class="h-full flex items-center justify-center">
  <section class="p-6 w-full max-w-2xl">
    <div class="border border-blue-500 rounded-lg shadow-lg">
      <div class="bg-gradient-to-r from-blue-500 to-blue-700 text-white text-xl font-semibold p-4 rounded-t-lg">
        Account Activation
      </div>
      <div class="p-6">
        <!-- Success Message -->
        <div class="p-4 border-2 border-green-500 bg-green-50 text-green-700 text-center rounded-lg shadow-md"
             *ngIf="isSuccessful()">
          <div class="text-lg font-bold mb-2">Account activated successfully!</div>
          <p>Please <a [routerLink]="LOGIN_PAGE_INFO.path" class="text-blue-500 underline">Sign In</a> with your
            credentials and start your journey with us.</p>
        </div>
        <!-- Error Message -->
        <div
          class="p-4 border-2 border-red-500 bg-red-50 text-red-700 rounded-lg shadow-md"
          *ngIf="isErrorOccurred()">
          Activation failed. Please check and correct data. If the issue still persists, try again later.
        </div>

        <!-- Activation Form -->
        <form (ngSubmit)="activate(activationForm)" #activationForm="ngForm" class="space-y-4 mt-6">
          <!-- Email Address -->
          <div>
            <label for="username" class="block text-sm font-medium text-gray-700">Email Address</label>
            <input type="email" id="username" name="username"
                   [(ngModel)]="accountActivationForm.username" #username="ngModel" [readOnly]="isSuccessful()"
                   required minlength="8" maxlength="50" email
                   class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
                   placeholder="Email Address" autocomplete="off"/>
            <div *ngIf="username.invalid && (username.dirty || activationForm.submitted)"
                 class="text-red-500 text-sm mt-1">
              <div *ngIf="username.errors?.['required']">Email Address is required.</div>
              <div *ngIf="username.errors?.['maxlength']">Email Address must be at most 50 characters long.</div>
              <div *ngIf="username.errors?.['minlength'] && !username.errors?.['email']">Email Address must have at
                least 8 characters.
              </div>
              <div *ngIf="username.errors?.['email'] && !username.errors?.['email']">Invalid Email Address.</div>
            </div>
          </div>

          <!-- Token -->
          <div>
            <label for="emailToken" class="block text-sm font-medium text-gray-700">Token</label>
            <input type="text" id="emailToken" name="emailToken"
                   [(ngModel)]="accountActivationForm.emailToken" #emailToken="ngModel" [readOnly]="isSuccessful()"
                   required
                   class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
                   placeholder="Token" autocomplete="off"/>
            <div *ngIf="emailToken.invalid && (emailToken.dirty || activationForm.submitted)"
                 class="text-red-500 text-sm mt-1">
              <div *ngIf="emailToken.errors?.['required']">Token is required.</div>
            </div>
          </div>

          <!-- Submit Button -->
          <div>
            <button type="submit" [disabled]="isSuccessful()"
                    class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:opacity-50">
              Activate
            </button>
          </div>
        </form>

        <!-- Sign-In Link -->
        <div class="mt-6">
          <hr class="border-t-2 border-blue-500 my-4">
          <p class="text-center text-gray-600">
            Already have an account?
            <a [routerLink]="LOGIN_PAGE_INFO.path" class="text-blue-600 font-bold">Sign in</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

