<section class="m-0 h-full flex justify-center items-center">
  <div class="w-full max-w-md p-8 space-y-6 rounded-lg shadow-lg border border-primary">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" ngSrc="assets/logo/journey-logo-64x64.png" alt="Journey" height="64" width="64">
      <h2 class="text-2xl font-bold text-center text-primary">Registration</h2>
    </div>

    <form (ngSubmit)="signup(signupForm)" #signupForm="ngForm" class="space-y-4 w-full">
      <div class="text-sm p-2 border-success border-2 shadow-lg rounded-md bg-transparent text-success"
           *ngIf="isSuccessful()">
        <div class="mb-2 font-bold text-center">Registration Successful!</div>
        <p>We've sent an activation email to your email address. Please check and click the activation link to
          complete your registration.</p>
      </div>
      <div *ngIf="isErrorOccurred()">
        <p class="bg-danger text-white rounded-lg p-2">Sorry, Unexpected error occurred. Please try again later.</p>
      </div>
      <div>
        <label for="name" class="block text-sm font-medium">Name</label>
        <input type="text" id="name" name="name"
               placeholder="Lorem ipsum" [(ngModel)]="form().name" #name="ngModel"
               class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-lg focus:ring-blue-500 focus:border-blue-500"
               required maxlength="50" minlength="3"
               [disabled]="isSuccessful()">

        <div *ngIf="name.invalid && (name.dirty || signupForm.submitted)" class="form-text text-danger">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['maxlength']">Name must be at most 50 characters long.</div>
          <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</div>
        </div>
      </div>

      <div>
        <label for="username" class="block text-sm font-medium">Email Address</label>
        <input type="email" id="username" name="username" placeholder="email@example.com" autocomplete="username"
               #username="ngModel" [(ngModel)]="form().username" [disabled]="isSuccessful()"
               class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-lg focus:ring-blue-500 focus:border-blue-500"
               required minlength="8" maxlength="50" email>
        <div *ngIf="username.invalid && (username.dirty || signupForm.submitted)" class="form-text text-danger">
          <div *ngIf="username.errors?.['required']">Email Address is required.</div>
          <div *ngIf="username.errors?.['maxlength']">Email Address must be at most 50 characters long.</div>
          <div *ngIf="username.errors?.['minlength'] && !username.errors?.['email']">
            Email Address must have at least 8 characters long.
          </div>
          <div *ngIf="username.errors?.['email']">Email Address invalid.</div>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium">Password</label>
        <input type="password" id="password" name="password" placeholder="@yngyg3VLi5hC" autocomplete="new-password"
               #password="ngModel" [(ngModel)]="form().password" [disabled]="isSuccessful()"
               class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-lg focus:ring-blue-500 focus:border-blue-500"
               required min="8" maxlength="50"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&^])[A-Za-z\d@.#$!%*?&]{8,50}$">

        <div *ngIf="password.invalid && (password.dirty || signupForm.submitted)" class="form-text text-danger">
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['maxlength']">Password must be at most 50 characters long.</div>
          <div *ngIf="password.errors?.['minlength']">Password must have at least 8 characters long.</div>
          <div *ngIf="password.errors?.['pattern']">
            Valid Password should contain at least one lowercase, one upper case alphabets, at least
            one digit, one special character and contains length from 8 to 50.
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-1 text-center">
        <button mat-flat-button type="submit" [disabled]="isSuccessful()">Sign up</button>
      </div>
    </form>

    <div class="flex justify-center">
      <p class="m-0 text-center text-primary text-sm">Already have an account?
        <a [routerLink]="LOGIN_PAGE_INFO.path" class="font-bold underline">Sign in</a>
      </p>
    </div>

  </div>

</section>
