<div class="m-0">
  <mat-card (click)="viewDetails()" (keydown.enter)="viewDetails()"
            class="text-white border border-blue-500 hover:shadow-lg hover:shadow-primary cursor-pointer"
            tabindex="0"
            [style]="'background-image: url('+journeyData().thumbnail+ ');background-size: cover;background-repeat: no-repeat;'">

    <mat-card-content class="p-4 flex flex-col justify-between h-full">
      <div>
        <h5 class="text-lg font-semibold text-stroke-white !text-appBlue">{{ journeyData().name }}</h5>
        <p class="text-sm font-bold text-appBlue text-stroke-white">{{ journeyData().title }}</p>
        <div class="flex flex-wrap gap-2 mt-2">
          @for (tag of journeyData().tags; track tag) {
            <span
              class="badge border border-gray-500 bg-gray-700 rounded-full text-gray-300 px-2 py-1 text-xs">
              {{ tag }}
            </span>
          }
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex items-center justify-between w-full">
        <span *ngIf="journeyData().journeyDate">
          <small
            class="text-xs border border-white rounded-lg px-2 py-1">{{ journeyData().journeyDate | date:"dd.MM.YYYY" }}</small>
        </span>
        <div class="flex gap-2 justify-end">
          <button mat-raised-button class="text-xs py-1 px-3" (click)="editDetails($event)" *appHasWriteAccess>Edit
          </button>
          <button mat-raised-button class="text-xs py-1 px-3" (click)="viewInTimeline($event)">Timeline</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

