<div class="m-0">
  <a class="card bg-dark text-bg-dark text-white" (click)="viewDetails()">
    <img [ngSrc]="journey().thumbnail" class="card-img" [alt]="journey().thumbnail" fill priority>
    <div class="card-img-overlay d-flex flex-column align-self-stretch card-text-wrapper">
      <h5 class="card-title ">{{ journey().name }}</h5>
      <p class="card-text">{{ journey().title }}</p>
      <p class="card-text">
        @for (tag of journey().tags; track tag) {
          <span
            class="badge bg-dark bg-opacity-25 border-dark rounded-pill border me-1 fw-normal">{{ tag }}</span>
        }
      </p>
      <div class="d-flex footer-wrapper mt-auto flex-nowrap flex-column flex-md-row justify-content-between">
        <div class="d-inline-flex gap-1">
          <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
            <small>{{ journey().journeyDate | date:"dd.MM.YYYY" }}</small>
          </p>
          <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
            <small>{{ journey().city }}</small>
          </p>
          <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
            <small>{{ journey().country }}</small>
          </p>
          <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
            <small>{{ journey().category }}</small>
          </p>
        </div>
        <div class="d-inline-flex gap-1 justify-content-end">
          <button type="button" class="btn btn-sm btn-success ms-1 small"
                  (click)="editDetails($event)"
                  *hasWriteAccess>Edit
          </button>
          <button type="button" class="btn btn-sm btn-success ms-1 small"
                  (click)="viewInTimeline($event)">Timeline
          </button>
        </div>
      </div>

    </div>
  </a>

</div>
