<div class="m-0">
  <mat-card (click)="viewDetails()" (keydown.enter)="viewDetails()"
            class="text-white border border-blue-500 hover:shadow-lg hover:shadow-primary cursor-pointer relative overflow-hidden"
            [style]="'background-image: url('+journeyData().thumbnail+ '); background-size: cover; background-repeat: no-repeat;'">
    <div class="absolute inset-0 bg-black bg-opacity-35"></div>
    <mat-card-content class="relative p-4 flex flex-col sm:flex-col md:flex-row justify-between h-full">
      <div>
        <h5 class="text-lg font-semibold text-white mb-2">{{ journeyData().name }}</h5>
        <p class="text-sm font-medium text-gray-200 mb-4">{{ journeyData().title }}</p>
        <div class="flex flex-wrap gap-2">
          @for (tag of journeyData().tags; track tag) {
            <span
              class="badge border border-gray-300 bg-gray-800 text-gray-200 rounded-full px-3 py-1 text-xs shadow-sm hover:bg-gray-700 hover:border-gray-500 transition-all">
            {{ tag }}
          </span>
          }
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="relative">
      <div class="flex items-center justify-between w-full">
      <span *ngIf="journeyData().journeyDate">
        <small class="text-xs border border-white rounded-lg px-2 py-1 bg-black bg-opacity-60">
          {{ journeyData().journeyDate | date:"dd.MM.YYYY" }}
        </small>
      </span>
        <div class="flex gap-2 justify-end">
          <button mat-raised-button class="text-xs py-1 px-3" (click)="editDetails($event)" *appHasWriteAccess>Edit
          </button>
          <button mat-raised-button class="text-xs py-1 px-3" (click)="viewInTimeline($event)">Timeline</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

</div>

