@import "src/scss/variables";

.card {
  width: 30rem;
  height: 15rem;
  margin: 0 0.5rem 0.5rem 0 !important;
  cursor: pointer;
}

.card-img {
  opacity: 75%;
  width: 100%;
  height: 100%;
}

.card-text-wrapper {
  background: rgba(0, 0, 0, 0.2);
}

@include media-breakpoint-down(sm) {
  .card {
    width: 100%;
    height: 15rem;
    margin: 0 0 0.5rem 0 !important;
  }
}

.card:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.35);
}
