<mat-card>
  <mat-card-header
    class="bg-primary-text text-xl font-semibold !p-4 rounded-t-lg mb-2">
    <mat-card-title>TOTP Code Verification</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="text-primary mb-6">
      Your security is our top priority. To ensure your account remains protected, please complete the two-factor
      authentication process by entering the 6-digit code from your authenticator app.
    </p>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Code</mat-label>
      <input matInput inputmode="numeric" id="confirmationCode" type="text"
             class=""
             required pattern="[0-9]{6,6}" maxlength="6" autocomplete="off"
             #confirmationCode ngModel
      />
    </mat-form-field>
    @if (isCodeInvalid()) {
      <p class="text-red-500 text-sm text-center mb-4">
        Code invalid. Please enter a valid code.
      </p>
    }

    <div class="flex gap-2 mt-4 justify-center">
      <button mat-raised-button type="button" mat-dialog-close="false">Cancel</button>
      <button mat-raised-button type="button" (click)="confirmCode(confirmationCode, confirmButton)" #confirmButton>
        Confirm
      </button>
    </div>
  </mat-card-content>
</mat-card>
