<div class="page-title-container row m-3 pb-3 border-bottom border-primary border-opacity-75 border-3">
  <div class="col flex-column justify-content-end align-items-end align-content-end p-0">
    <h6 class="text-primary opacity-75 page-description" [hidden]="pageInfo().description">&nbsp;</h6>
    <h3 class="gradient-text page-title">{{ pageInfo().title }}</h3>
    <h6 class="text-primary opacity-75 page-description" *ngIf="pageInfo().description">{{ pageInfo().description }}</h6>
  </div>
</div>
