<div class="list-group">
  <a class="list-group-item list-group-item-action">Basic Details
    @if (isBasicDetailsAvailableAndValid()) {
      Basic Details
      <mat-icon color="primary" class="float-end">check_circle</mat-icon>
    } @else {
      <mat-icon color="warn" class="float-end">cancel</mat-icon>
    }
  </a>
  <a class="list-group-item list-group-item-action">Geo Details
    @if (isGeoJsonAvailable()) {
      Basic Details
      <mat-icon color="primary" class="float-end">check_circle</mat-icon>
    } @else {
      <mat-icon color="warn" class="float-end">cancel</mat-icon>
    }
  </a>
  <a class="list-group-item list-group-item-action">Images Details
    @if (isImagesDetailsAvailable()) {
      Basic Details
      <mat-icon color="primary" class="float-end">check_circle</mat-icon>
    } @else {
      <mat-icon color="warn" class="float-end">cancel</mat-icon>
    }
  </a>
  <a href="#" class="list-group-item list-group-item-action">Videos Details
    @if (isVideosDetailsAvailable()) {
      Basic Details
      <mat-icon color="primary" class="float-end">check_circle</mat-icon>
    } @else {
      <mat-icon color="warn" class="float-end">cancel</mat-icon>
    }
  </a>

</div>
