<div class="card">
  <div class="card-header bg-primary text-light">
    Confirmation Required
  </div>
  <div class="card-body">
    <div class="card-text">
      <p class="text-primary">Are you sure you want to proceed with this action?</p>
      <p class="small fw-bold text-primary">This action cannot be undone.</p>
    </div>

    <div class="d-inline-flex gap-2 mt-4">
      <button class="btn btn-outline-danger" mat-dialog-close="false">Cancel</button>
      <button class="btn btn-primary" (click)="confirmAction()">Confirm</button>
    </div>
  </div>
</div>
