<mat-card class="confirmation-card shadow-lg rounded-xl border border-primary">
  <mat-card-header>
    <mat-card-title class="text-primary">Confirmation Required</mat-card-title>
  </mat-card-header>
  <mat-card-content class="!py-5">
    <p class="text-primary">Are you sure you want to proceed with this action?</p>
    <p class="text-sm text-red-600 font-medium mt-2">
      This action <strong>cannot be undone</strong>.
    </p>
  </mat-card-content>
  <mat-card-actions align="end" class="gap-2 py-4">
    <button mat-flat-button type="button" (click)="confirmAction()">Confirm</button>
    <button mat-stroked-button type="button" mat-dialog-close="false">Cancel</button>
  </mat-card-actions>
</mat-card>
