<mat-card class="h-full overflow-auto border border-blue-500 shadow-xl rounded-lg" appearance="outlined">

  <mat-card-header class="!p-4 bg-gradient-to-r from-blue-600 to-indigo-400 text-white rounded-t-lg">
    <mat-card-title class="text-2xl font-bold tracking-wide">
      {{ title() }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="text-primary leading-relaxed">
      <markdown [data]="markdownText()" class="markdown-container"></markdown>
    </div>
  </mat-card-content>
</mat-card>
