<header>
  <app-page-header [pageInfo]="DELETE_MY_ACCOUNT_PAGE_INFO"></app-page-header>
</header>

<main>
  <section class="container mt-6 max-w-4xl flex flex-col gap-4">
    <p>We're Sorry to See You Go
      <mat-icon>sentiment_dissatisfied</mat-icon>
    </p>

    <!-- Introductory Message -->
    <div class="flex flex-col">
      <p>We're genuinely sorry to hear that you're considering deleting your account.</p>
      <p>Your presence means a lot to us, and losing you as a valued user would be a significant loss.</p>
    </div>

    <!-- Key Points -->
    <div>
      <h3>Before you go, please consider the following:</h3>

      <dl class="ml-4 flex flex-col gap-2">
        <dt><strong>Valuable Data Loss:</strong></dt>
        <dd class="ml-2">Once your account is deleted, all your data, preferences, and history with us will be
          permanently lost and cannot be recovered.
        </dd>

        <dt><strong>Help Us Improve:</strong></dt>
        <dd class="ml-2">
          Your feedback is invaluable to us. If there’s anything we can do to improve your experience, please let us
          know by
          <a href="https://github.com/nramc/journeys/issues" target="_blank" class="font-bold hover:underline">
            creating an issue on GitHub.
          </a>
        </dd>

        <dt><strong>Special Offers:</strong></dt>
        <dd class="ml-2">
          We’d love to have you stay. Contact us by
          <a href="https://github.com/nramc/journeys/issues" target="_blank" class="font-bold underline">
            creating an issue on GitHub
          </a>
          for any assistance we can provide to make your experience better.
        </dd>
      </dl>
    </div>

    <!-- Closing Message -->
    <div>
      <p>If you're sure about leaving, we respect your decision and hope to see you again in the future. Thank you for
        being a part of our community.</p>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-center gap-2">
      <button mat-raised-button class="!bg-danger !text-white" (click)="deleteAccount()">
        Delete My Account
      </button>
      <button mat-raised-button class="!bg-success !text-white" (click)="cancel()">
        Keep My Account
      </button>
    </div>
  </section>
</main>
