<p>create-journey works!</p>
<section class="mt-3">
  <div class="row m-2">
    <div class="col-12">
      <h4><span class="gradient-text me-1">{{ journey().name || 'Created for testing' }}</span></h4>
    </div>
  </div>


  <mat-stepper orientation="horizontal" linear="linear">

    <mat-step [completed]="isBasicDetailsAvailable()">
      <ng-template matStepLabel>Memories</ng-template>
      <ng-template matStepContent>
        <app-edit-journey-memories-details [(journey)]="journey" [mode]="OperationMode.NEW"></app-edit-journey-memories-details>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Geography</ng-template>
      <ng-template matStepContent>
        <h1>app-edit-journey-geo-details</h1>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Images</ng-template>
      <ng-template matStepContent>
        <h1>app-edit-journey-images-details</h1>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Videos</ng-template>
      <ng-template matStepContent>
        <h1>app-edit-journey-videos-details</h1>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Publish</ng-template>
      <ng-template matStepContent>
        <h1>app-edit-journey-publish-details</h1>
      </ng-template>
    </mat-step>

  </mat-stepper>

</section>
