<div class="flex items-center space-x-4 mt-2">
  <!-- Longitude Input -->
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Longitude</mat-label>
    <input matInput type="number" placeholder="Longitude" aria-label="Longitude"
           [(ngModel)]="_location().coordinates[0]" [readOnly]="disabled()"
           required min="-180" max="180" #longitude="ngModel" (change)="fireChangeEvent()">
    <mat-error *ngIf="longitude.errors?.['required']">Longitude is required.</mat-error>
    <mat-error *ngIf="longitude.errors?.['min'] || longitude.errors?.['max']">
      Longitude must be between -180.0 and 180.0.
    </mat-error>
  </mat-form-field>

  <!-- Latitude Input -->
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Latitude</mat-label>
    <input matInput type="number" placeholder="Latitude" aria-label="Latitude"
           [(ngModel)]="_location().coordinates[1]" [readOnly]="disabled()"
           required min="-90" max="90" #latitude="ngModel" (change)="fireChangeEvent()">
    <mat-error *ngIf="latitude.errors?.['required']">Latitude is required.</mat-error>
    <mat-error *ngIf="latitude.errors?.['min'] || latitude.errors?.['max']">
      Latitude must be between -90.0 and 90.0.
    </mat-error>
  </mat-form-field>

  <!-- Paste Options Button -->
  <button mat-icon-button [matMenuTriggerFor]="pasteMenu" [disabled]="disabled()" matTooltip="Paste Options"
          type="button">
    <mat-icon>content_paste_go</mat-icon>
  </button>
  <mat-menu #pasteMenu="matMenu">
    <button mat-menu-item (click)="pasteClipboardCoordinates()">
      Clipboard
    </button>
    <button mat-menu-item (click)="pasteClipboardGoogleCoordinates()">
      Clipboard (Copied from Google Map)
    </button>
  </mat-menu>
</div>
