.data-table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}

table {
  width: 100%;
}

.journey-header-row {
  font-weight: bolder;
  font-size: medium;
}

.journey-data-row p {
  opacity: 70%;
  font-weight: 500;
  font-size: 0.9em;

}

 .mat-column-action {
  text-align: center;
}

tr:nth-child(even) {
  background: whitesmoke;
}
