<div class="mat-elevation-z8 m-3">
  @if (isLoadingResults) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }

  <div class="data-table-container">

    <table mat-table [dataSource]="data" matSort matSortActive="createdDate" matSortDisableClear
           matSortDirection="desc" [fixedLayout]="true" [trackBy]="trackJourney" aria-describedby="Available Journeys">

      <!-- Created Date -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          <p class="text-capitalize">Created</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p>{{ row.createdDate | date:"dd.MM.YYYY" }}</p>
        </td>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="text-capitalize">#ID</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p>{{ row.id }}</p>
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="text-capitalize">Name</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p>{{ row.name }}</p>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="text-capitalize">Category</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p>{{ row.category }}</p>
        </td>
      </ng-container>

      <!-- Journey Column -->
      <ng-container matColumnDef="journeyDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="text-capitalize">Journey Date</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p>{{ row.journeyDate | date:"dd.MM.YYYY" }}</p>
        </td>
      </ng-container>

      <!-- Published Column -->
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="text-capitalize">Published</p>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          @if (row.isPublished) {
            <i class="bi bi-check-circle-fill text-success fs-6"></i>
          } @else {
            <i class="bi bi-dash-circle-fill text-warning fs-6"></i>
          }

        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <p class="text-capitalize">Action</p>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <div class="d-inline-flex">
            <button class="m-1 btn btn-outline-primary btn-sm" (click)="viewJourney(row)">
              <i class="bi bi-eye-fill pe-1"></i>View
            </button>
            <button type="button" class="m-1 btn btn-outline-primary btn-sm" (click)="editJourney(row)">
              <i class="bi bi-pencil pe-1"></i>
              Edit
            </button>
          </div>
        </td>
      </ng-container>

      <tr class="text-primary journey-header-row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="journey-data-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator class="text-primary fw-medium pt-3" showFirstLastButtons [length]="resultsLength" [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 30]"
                 color="primary" aria-label="Select page"></mat-paginator>
</div>
