.data-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journey-header-row {
  font-weight: bolder;
  font-size: medium;
}

.journey-data-row p {
  opacity: 70%;
  font-weight: 500;
  font-size: 0.9em;

}

 .mat-column-action {
  text-align: center;
}

tr:nth-child(even) {
  background: whitesmoke;
}
