<div class="mat-elevation-z8 overflow-auto">
  <div class="data-table-container p-4">
    <table mat-table [dataSource]="data().content" matSort matSortActive="createdDate" matSortDisableClear
           matSortDirection="desc" [fixedLayout]="true" [trackBy]="trackJourney" aria-describedby="Available Journeys"
           class="w-full">
      <!-- Created Date Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          <p class="font-medium">Created</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p class="font-normal text-sm">{{ row.createdDate | date: 'dd.MM.YYYY' }}</p>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="font-medium">Name</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p class="font-normal text-sm">{{ row.name }}</p>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="font-medium">Category</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p class="font-normal text-sm">{{ row.category }}</p>
        </td>
      </ng-container>

      <!-- Journey Date Column -->
      <ng-container matColumnDef="journeyDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="font-medium">Journey Date</p>
        </th>
        <td mat-cell *matCellDef="let row">
          <p class="font-normal text-sm">{{ row.journeyDate | date: 'dd.MM.YYYY' }}</p>
        </td>
      </ng-container>

      <!-- Published Column -->
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="font-medium">Published ?</p>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          @if (row.isPublished) {
            <mat-icon class="text-green-600">check_circle</mat-icon>
          } @else {
            <mat-icon class="text-yellow-500">remove_circle</mat-icon>
          }
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <p class="font-medium text-center">Action</p>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <div class="flex gap-2 justify-center">
            <button mat-icon-button (click)="viewJourney(row)" matTooltip="View">
              <mat-icon class="text-primary">visibility</mat-icon>
            </button>
            <button mat-icon-button *appHasWriteAccess (click)="editJourney(row)" matTooltip="Edit">
              <mat-icon class="text-primary">edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-black/5! dark:hover:bg-white/5!"></tr>
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator class="w-full overflow-auto text-primary fw-medium pt-3" showFirstLastButtons
                 [length]="resultsLength()" [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 30]"
                 aria-label="Select page"></mat-paginator>
</div>
