@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/* For small screens */
@include media-breakpoint-down(md) {
  .app-content-wrapper {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}
