<mat-toolbar color="primary" class="toolbar">
  <!-- App Brand Section -->
  <div class="app-brand-section">
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-brand">
      <img src="assets/logo/journey-logo-180x180.png" alt="Logo" class="brand-logo"/>
    </a>
    <a [routerLink]="HOME_PAGE_INFO.path" class="app-name">
      <h1 class="app-title">Journey</h1>
      <h6 class="app-tagline">Your Portal to the Past</h6>
    </a>
    <button mat-icon-button (click)="navigationMenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav #navigationMenu mode="side" position="start" opened>
    <app-navigation-menu></app-navigation-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-theme-toggle/>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading-spinner></app-loading-spinner>


