<section>
  <h4 class="gradient-text">Quick Links</h4>
  <div
    class="d-flex flex-column flex-md-row gap-md-2 gap-2
    justify-content-center justify-content-md-start align-content-center align-items-center">
    <div class="col-12 col-md-4">
      <a [routerLink]="NEW_JOURNEY_PAGE_INFO.path"
         class="w-100 btn btn-outline-primary p-0 border border-2 border-primary rounded-2 text-decoration-none
          d-inline-flex align-content-center align-items-center">
        <span class="p-1 text-bg-primary"><mat-icon>add_circle</mat-icon></span>
        <span class="ps-1 pe-2">Create New Journey</span>
      </a>
    </div>

    <div class="col-12 col-md-4">
      <a [routerLink]="TIMELINE_PAGE_INFO.path"
         class="w-100 btn btn-outline-primary p-0 border border-2 border-primary rounded-2 text-decoration-none
          d-inline-flex align-content-center align-items-center">
        <span class="p-1 text-bg-primary"><mat-icon>circle_notifications</mat-icon></span>
        <span class="ps-1 pe-2">Upcoming Journey</span>
      </a>
    </div>

  </div>

</section>
