<div class="row mt-3 mb-2">
  <div class="col-12">
    <div class="card border border-2 border-primary">
      <h5 class="card-header gradient-text border-bottom border-opacity-50 border-2 border-primary" >{{ journey.title }}</h5>
      <div class="card-body">
        <div class="card-text gradient-text">
          <markdown [data]="journey.description"></markdown>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap gap-1 align-items-center justify-content-between mt-3">

  <div class="field-wrapper">
    <div class="form-floating">
      <div class="form-control-plaintext text-primary fw-bold"
           id="journeyDate">{{ journey.journeyDate | date:"dd.MM.YYYY" }}
      </div>
      <label for="journeyDate">Journey Date</label>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="form-floating">
      <div class="form-control-plaintext text-primary fw-bold" id="city" [innerText]="journey.city"></div>
      <label for="city">City</label>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="form-floating">
      <div class="form-control-plaintext text-primary fw-bold" id="country" [innerText]="journey.country"></div>
      <label for="country">Country</label>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="form-floating">
      <div class="form-control-plaintext text-primary fw-bold" id="category" [innerText]="journey.category"></div>
      <label for="category">Category</label>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="form-floating">
      <div class="form-control-plaintext text-primary fw-bold" id="isPublished">
        @if (journey.isPublished) {
          <i class="bi bi-check-circle-fill text-success fs-6"></i>
        } @else {
          <i class="bi bi-dash-circle-fill text-warning fs-6"></i>
        }
      </div>
      <label for="isPublished">Published</label>
    </div>
  </div>

</div>

<div class="row mt-2">
  <div class="col-12 d-flex flex-wrap justify-content-start">
    <span *ngFor="let tag of journey.tags; trackBy: trackTagByFn;" class="badge text-primary border border-primary me-1">{{ tag }}</span>
  </div>
</div>
