<div class="mt-4">
  <!-- Markdown Component -->
  <div class="min-h-[50vh]">
    <app-display-markdown-component
      [title]="journey().geoDetails?.title ?? ''"
      [markdownText]="journey().description">
    </app-display-markdown-component>
  </div>

  <!-- Tags Section -->
  <div class="mt-4 flex flex-wrap gap-2">
    @for (tag of journey().tags; track tag) {
      <span class="badge rounded-full border border-primary text-primary px-3 py-1 shadow-sm">
        {{ tag }}
      </span>
    }
  </div>
</div>
