<app-page-header [pageInfo]="TIMELINE_PAGE_INFO"></app-page-header>

<section class="mt-2 container">
  <div class="row d-flex flex-column">
    <div class="col" *ngIf="upcomingJourniversaries">
      <div class="form-floating mb-2">
        <select class="form-select ignore-highlight text-primary" id="numberOfDaysJourniversariesSelect" name="numberOfDaysJourniversariesSelect"
                aria-label="Journiversaries days" [(ngModel)]="numberOfDaysJourniversaries"
                (change)="getDataForUpcomingJourniversaries()">
          <option value="1">Tomorrow</option>
          <option value="7">Next One Week</option>
          <option value="14">Next Two Week</option>
          <option value="21">Next Three Week</option>
          <option value="30">Next One Month</option>
          <option value="60">Next Two Months</option>
          <option value="90">Next Three Months</option>
        </select>
        <label for="numberOfDaysJourniversariesSelect">Choose interval to display upcoming Journiversaries</label>
      </div>
    </div>
    <div class="col">
      <app-timeline [data]="timelineData"></app-timeline>
    </div>
  </div>
</section>
