<form class="ignore-highlight flex flex-row gap-4" (submit)="submitSearch(searchForm)" #searchForm="ngForm">
  <!-- Search Input -->
  <mat-form-field class="w-full ignore-highlight" appearance="outline">
    <input placeholder="Use * for wildcard search" class="ignore-highlight" aria-label="Query" id="query" name="query"
           matInput ngModel [(ngModel)]="q"/>
    <button mat-icon-button matSuffix type="submit" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <!-- New Journey Button -->
  <button mat-fab extended routerLink="/journey/new">
    <mat-icon class="text-primary">location_on</mat-icon>
    New
  </button>
</form>
