<div class="container">
  <form class="ignore-proactive-error" (submit)="submitSearch(searchForm)" #searchForm="ngForm">

    <div class="row mb-3">
      <div class="col-12">
        <a type="button" class="btn btn-outline-primary" routerLink="/journey/new">New</a>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-group mb-3 col-12">
          <input type="text" class="form-control" aria-label="Query" aria-describedby="queryLabel"
                 placeholder="Use % for wildcard search" id="query" name="query" ngModel>
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
      </div>
    </div>

  </form>
</div>
