<section class="container advanced-search">
  <div class="d-flex justify-content-end">
    <a class="text-decoration-none" data-bs-toggle="collapse" href="#searchFields" role="link" aria-expanded="false" aria-controls="searchFields">
      Advanced Search
    </a>
  </div>

  <div class="row g-2 mb-3 collapse" id="searchFields">

    <!-- Category -->
    <div class="col-sm">
      <div class="form-floating border border-primary">
        <input type="text" class="form-control form-control-sm ignore-highlight" id="categoryInput" placeholder="Category" [(ngModel)]="searchCriteria.category">
        <label for="categoryInput">Category</label>
      </div>
    </div>

    <!-- City -->
    <div class="col-sm">
      <div class="form-floating border border-primary">
        <input type="text" class="form-control form-control-sm ignore-highlight" id="cityInput" placeholder="City" [(ngModel)]="searchCriteria.city">
        <label for="cityInput">City</label>
      </div>
    </div>

    <!-- Country -->
    <div class="col-sm">
      <div class="form-floating border border-primary">
        <input type="text" class="form-control form-control-sm ignore-highlight" id="countryInput" placeholder="Country" [(ngModel)]="searchCriteria.country">
        <label for="countryInput">Country</label>
      </div>
    </div>

    <!-- Year -->
    <div class="col-sm">
      <div class="form-floating border border-primary">
        <input type="text" class="form-control form-control-sm ignore-highlight" id="yearInput" placeholder="Year" [(ngModel)]="searchCriteria.year">
        <label for="yearInput">Year</label>
      </div>
    </div>

  </div>

</section>

<section class="container">

  <div class="row">
    <mat-chip-grid #chipGrid aria-label="Tags">
      <div class="col-12">
        <div class="form-floating">
          <input placeholder="Filter by Tags" class="form-control border border-2 border-primary rounded-4"
                 autocomplete="off" id="tagsInput"
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addTag($event)"/>
          <label for="tagsInput">Filter by Tags</label>
        </div>

      </div>
      <div class="col-12">
        @for (tag of tags; track tag) {
          <mat-chip-row color="primary" [highlighted]="true" (removed)="removeTag(tag)" [editable]="false"
                        [removable]="true">
            {{ tag }}
            <button matChipRemove (click)="removeTag(tag)">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </div>
    </mat-chip-grid>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mb-md-3 me-0 pe-0">
      <mat-paginator [length]="totalElements" [pageSize]="defaultPageSize" [pageSizeOptions]="[1, 5, 10, 20, 25]"
                     aria-label="Select page" [showFirstLastButtons]="true" class="paginator me-0"
                     color="primary">
      </mat-paginator>
    </div>

    <div class="col-12 col-md-4 sorting mb-3 me-0">

      <div ngbDropdown class="d-inline-block me-1">
        <button type="button" class="btn btn-outline-primary btn-sm" id="dropdownSortingField" ngbDropdownToggle>
          {{ sortingFieldChangedEvent.getValue() | titlecase }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownSortingField">
          @for (sortHeader of sortableFields; track sortHeader) {
            <button ngbDropdownItem (click)="sortingFieldChangedEvent.next(sortHeader)">{{ sortHeader | titlecase }}
            </button>
          }
        </div>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary btn-sm" id="dropdownSortingDirection" ngbDropdownToggle>
          {{ sortingDirectionChangedEvent.getValue() | uppercase }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownSortingDirection">
          @for (sortingDirection of sortableDirections; track sortingDirection) {
            <button ngbDropdownItem
                    (click)="sortingDirectionChangedEvent.next(sortingDirection)">{{ sortingDirection | uppercase }}
            </button>
          }
        </div>
      </div>

    </div>
  </div>

  <div class="card-group justify-content-center align-items-center">
    <div class="m-0" *ngFor="let journey of data; trackBy: trackJourneyByFn">

      <div class="card bg-dark text-bg-dark text-white" role="link" (click)="viewDetails(journey)">
        <img [src]="journey.thumbnail" class="card-img" [alt]="journey.thumbnail">
        <div class="card-img-overlay d-flex flex-column align-self-stretch card-text-wrapper">
          <h5 class="card-title ">{{ journey.name }}</h5>
          <p class="card-text">{{ journey.title }}</p>
          <p class="card-text">
          <span *ngFor="let tag of journey.tags; trackBy:trackTagByFn;"
                class="badge bg-dark bg-opacity-25 border-dark rounded-pill border me-1 fw-normal">{{ tag }}</span>
          </p>

          <div class="d-inline-flex footer-wrapper mt-auto flex-nowrap flex-row justify-content-between">
            <div class="d-inline-flex gap-1">
              <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
                <small>{{ journey.journeyDate | date:"dd.MM.YYYY" }}</small>
              </p>
              <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
                <small>{{ journey.city }}</small>
              </p>
              <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
                <small>{{ journey.country }}</small>
              </p>
              <p class="small border border-light border-1 rounded-2 ps-1 pe-1 border-opacity-50">
                <small>{{ journey.category }}</small>
              </p>
            </div>
            <small>
              <button type="button" class="btn btn-sm btn-outline-success ms-1"
                      (click)="editDetails(journey, $event)"
                      *hasWriteAccess>Edit
              </button>
            </small>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>

