@import "src/scss/variables";

.sorting {
  background: rgb(248, 249, 250);
  background: linear-gradient(90deg, rgba(66, 70, 215, 0.65) 1%, rgba(248, 249, 250, 0.1) 80% );
  font-weight: normal;
  font-size: 0.9em !important;
  vertical-align: center;
  text-align: center;
  align-items: center;
  justify-content: center !important;
  display: flex;
  color: black;
}

.paginator {
  background: rgb(248, 249, 250);
  background: linear-gradient(90deg, rgba(248, 249, 250, 0.5) 1%, rgba(66, 70, 215, 0.65) 45%);
  font-weight: normal;
  font-size: 0.9em !important;
  vertical-align: center;
  text-align: center;
  align-items: center;
  justify-content: center !important;
  display: flex;
  color: black;
}

.mat-mdc-select {
  color: whitesmoke !important;
}

// Card styles
.card {
  width: 30rem;
  height: 15rem;
  margin: 0 0.5rem 0.5rem 0 !important;
}

.card-img {
  opacity: 75%;
  width: 100%;
  height: 100%;
}


@include media-breakpoint-down(sm) {
  .card {
    width: 100%;
    height: 15rem;
    margin: 0 0 0.5rem 0 !important;
  }

  .sorting {
    background: rgb(248, 249, 250);
    background: linear-gradient(90deg, rgba(248, 249, 250, 0.5) 1%, rgba(66, 70, 215, 0.65) 45%);
  }
}
