<app-page-header [pageInfo]="GALLERY_PAGE_INFO"></app-page-header>

<div class="container">

  <div class="row">
    <div class="col-12">
      <mat-paginator [length]="totalElements" [pageSize]="defaultPageSize" [pageSizeOptions]="[1, 5, 10, 20, 25]"
                     aria-label="Select page" [showFirstLastButtons]="true" class="gallery-paginator"
      color="primary">
      </mat-paginator>
    </div>

  </div>

  <div class="row row-cols-auto ps-2">
    <div class="border border-2" *ngFor="let journey of data">
      {{ journey.id | json }}
    </div>
  </div>

</div>


