<section
  class="container d-flex flex-column gradient-bg-light mt-2 pt-2 pb-3 border border-opacity-50 rounded-2 shadow border-primary">
  <div class="col">
    <h4 class="gradient-text">Email Address</h4>
  </div>
  <div class="col input-group">
    <span class="input-group-text bg-primary text-light">Primary</span>
    <input type="email" aria-label="Email Address" class="form-control" [disabled]="!editMode"
           required email [(ngModel)]="emailAddress" id="emailAddress" name="emailAddress" #emailAddressElement>

    <div [hidden]="editMode" class="input-group-text">
      @if (isVerified) {
        <span class="text-success"><i class="bi bi-check-circle-fill fs-6 me-1"></i>Verified</span>
      } @else {
        <button class="btn btn-sm btn-outline-danger" [disableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">Verify Now
        </button>
      }
    </div>

    <div class="input-group-text" *hasWriteAccess>
      @if (editMode) {
        <button type="button" class=" btn btn-sm btn-outline-primary" (click)="save(emailAddressElement)">Save
        </button>
      } @else {
        <button type="button" class=" btn btn-sm btn-outline-primary" (click)="enableEdit()">Edit</button>
      }
    </div>

  </div>
  <div class="col" [hidden]="!editMode || emailAddressElement.validity.valid">
    <span class="text-danger small">Email Address invalid</span>
  </div>

</section>
