<section
  class="container d-flex flex-column gradient-bg-light-left mt-2 pt-2 pb-3 border border-opacity-50 rounded-2 shadow border-primary">
  <div class="col">
    <h4 class="gradient-text">Email Address</h4>
  </div>

  <!-- Read Mode -->
  <div class="col-12 d-flex flex-column" *ngIf="!editModeToggle()">
    <div class="col d-inline-flex flex-row text-primary align-items-center">
      <div>
        <span class="small pe-2">Primary:</span>
        <span class="fw-bold pe-2 fs-6" [textContent]="emailAddressData().value"></span>
      </div>

      @if (emailAddressData().verified) {
        <span class="text-success border border-success border-2 rounded-2 p-1 small text-nowrap"><i
          class="bi bi-check-circle-fill"></i> Verified</span>
      } @else {
        <span class="text-danger border border-danger border-2 rounded-2 p-1 small text-nowrap"><i
          class="bi bi-exclamation-octagon-fill"></i> Not Verified</span>
      }
    </div>

    <div class="d-inline-flex gap-2">
      <button class="btn btn-success" [disableIfNoRoleExists]="[Role.AUTHENTICATED_USER]"
              (click)="verifyEmailAddress()" *ngIf="emailAddressData().value && !emailAddressData().verified">
        Verify Now
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="enableEdit()"
              [disableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">Edit
      </button>
    </div>

  </div>

  <!-- Edit Mode -->
  <div class="col-12" *ngIf="editModeToggle()">
    <div class="col input-group">
      <span class="input-group-text bg-primary text-light">Primary</span>
      <input type="email" class="form-control"
             required email [(ngModel)]="emailAddressData().value" id="emailAddressElement" name="emailAddressElement"
             #emailAddressElement>

      <div class="input-group-text">
        <button type="button" class=" btn btn-sm btn-outline-primary" (click)="save(emailAddressElement)"
                [disableIfNoRoleExists]="[Role.AUTHENTICATED_USER]">Save
        </button>
      </div>

    </div>
  </div>

</section>
