<app-page-header [pageInfo]="HOME_PAGE_INFO"></app-page-header>

<section class="container">
  <div class="row" *ngIf="authService.getUserContext() | async as userContext">
    <div class="col-12" *ngIf="userContext.isAuthenticated">
      <p>Hello <strong class="text-primary">{{ userContext.name }}</strong>, Welcome back..!</p>
    </div>
  </div>

  <footer class="fixed-bottom m-auto text-primary text-center align-items-center justify-content-center align-content-center">
    <span class="text-light-emphasis ms-2 small"><small>GUI : v{{appVersion}}</small></span>
    <span class="text-light-emphasis ms-2 small"><small>BFF : {{bffApiVersion}}</small></span>
  </footer>
</section>



