<app-page-header [pageInfo]="HOME_PAGE_INFO"></app-page-header>

<section class="container" *ngIf="authService.getUserContext() | async as userContext">
  <div class="row">
    <div class="col-12 text-primary" *ngIf="userContext.isAuthenticated">
      <p>Welcome <strong class="gradient-text">{{ userContext.name }}</strong>..!,</p>
      <p class="small">Never lose track of a travel memory again.
        <a routerLink="/journey/new" role="link" class="">
          Create Journey to store your trips, photos, and stories - forever!
          <i class="bi bi-arrow-right-circle-fill"></i></a>
      </p>
      <p class="text-primary small">
        Don't miss out! Relive the magic - See Upcoming
        <a routerLink="/timeline" role="link" class="">Journiversaries (Journey + Anniversaries)
          <i class="bi bi-arrow-right-circle-fill"></i></a>
      </p>
    </div>
  </div>
</section>

<!-- Today timeline data -->
<section class="container" *ngIf="timelineData && timelineData?.images?.length">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-start">
      <app-timeline [data]="timelineData"></app-timeline>
    </div>
  </div>
</section>

<section class="container footer-section">
  <div class="row" *ngIf="bffApiVersion == 'CHECKING'">
    <div class="col-12 text-center m-1">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden text-primary">Loading...</span>
      </div>
      <p class="text-primary">Warming up the chrono-engine! (Backend server too!)</p>
      <p class="text-primary small opacity-75">
        It'll be ready for temporal displacement in a minute or two. <br/>
        In the meantime, why not explore the space-time continuum of our other pages?
      </p>
    </div>
  </div>

  <footer
    class="fixed-bottom m-auto text-primary text-center align-items-center justify-content-center align-content-center">
    <span class="text-light-emphasis ms-2 small"><small>GUI : v{{ appVersion }}</small></span>
    <span class="text-light-emphasis ms-2 small"><small>BFF : {{ bffApiVersion }}</small></span>
  </footer>
</section>



