<div class="flex flex-col container h-full">

  <main class="mb-auto">
    @if (!isUserAuthenticated()) {
      <app-anonymous-welcome-message/>
    }

    <section *appHasAuthenticated class="flex flex-col sm:flex-row sm:items-center sm:gap-6">
      <app-welcome-message></app-welcome-message>
    </section>

    <section *appHasAuthenticated class="py-2">
      <app-quick-links></app-quick-links>
    </section>

    <!-- Today timeline data -->
    <section class="mt-3 mb-3 feature-content">
      <app-upcoming-anniversaries></app-upcoming-anniversaries>
    </section>

    <app-bff-api-loading-indicator></app-bff-api-loading-indicator>

    <!-- Thirukkural widget -->
    <section>
      <app-thirukkural-widget/>
    </section>
  </main>

  <footer class="flex justify-end w-full py-1">
    <small class="text-xs font-thin">GUI : v{{ appVersion }}  | BFF : {{ bffApiVersion()?.version }}</small>
  </footer>

</div>
