<app-page-header [pageInfo]="NEW_JOURNEY_PAGE_INFO"></app-page-header>


<form (ngSubmit)="onSubmit(journeyForm)" #journeyForm="ngForm">
  <div class="container">

    <div class="row mb-3">
      <div class="col-12">
        <div class="bg-success text-light input-group p-2 border border-2" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class="bg-danger text-light input-group p-2 border border-2" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>

    </div>

    <!-- Id -->
    <div class="row" *ngIf="journey.id">
      <div class="input-group mb-3 col-12">
        <span class="input-group-text" id="idLabel">ID</span>
        <input type="text" class="form-control" aria-describedby="idLabel" id="id" name="id" [(ngModel)]="journey.id"
               readonly="readonly">
      </div>
    </div>

    <!-- Name -->
    <div class="row">
      <div class="mb-3 col-md-8">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="journey.name" #name=ngModel
               maxlength="50" minlength="5" placeholder="Name your Journey" [readOnly]="journey.id">
        <div [hidden]="name.valid || name.pristine" class="form-text text-danger">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">Name must be at least 5 characters long.</div>
          <div *ngIf="name.errors?.['maxlength']">Name must be at most 50 characters long.</div>
        </div>
      </div>

      <!-- Category -->
      <div class="mb-3 col-md-4">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" aria-label="Default select example" id="category" name="category" #category=ngModel
                [(ngModel)]="journey.category" required [disabled]="journey.id != ''">
          <option value="default" selected>Others</option>
          <option value="travel">Travel</option>
          <option value="residence">Residence</option>
          <option value="work">Work</option>
        </select>
        <div [hidden]="category.valid || category.pristine" class="form-text text-danger">
          <div *ngIf="category.errors?.['required']">Category is required.</div>
        </div>
      </div>

    </div>

    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="journey.title" required
             #title="ngModel"
             maxlength="100"
             minlength="10"
             placeholder="Shortly describe the Journey" [readOnly]="journey.id">
      <div [hidden]="title.valid || title.pristine" class="form-text text-danger">
        <div *ngIf="title.errors?.['required']">Title is required.</div>
        <div *ngIf="title.errors?.['minlength']">Title must be at least 10 characters long.</div>
        <div *ngIf="title.errors?.['maxlength']">Title must be at most 100 characters long.</div>
      </div>
    </div>

    <!-- Memories -->
    <div class="mb-3">
      <label for="description" class="form-label">Memories</label>
      <textarea rows="5" class="form-control" id="description" name="description" required minlength="10"
                maxlength="5000" #description="ngModel"
                [(ngModel)]="journey.description"
                placeholder="Detailed information about the Journey" [readOnly]="journey.id"></textarea>
      <div [hidden]="description.valid || description.pristine" class="form-text text-danger">
        <div *ngIf="description.errors?.['required']">Memories is required.</div>
        <div *ngIf="description.errors?.['minlength']">Memories must be at least 10 characters long.</div>
        <div *ngIf="description.errors?.['maxlength']">Memories must be at most 5000 characters long.</div>
      </div>
    </div>

    <div class="row">
      <!-- City -->
      <div class="mb-3 col-md-4">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="journey.city" #city="ngModel"
               required minlength="3" maxlength="50" [readOnly]="journey.id">
        <div [hidden]="city.valid || city.pristine" class="form-text text-danger">
          <div *ngIf="city.errors?.['required']">City is required.</div>
          <div *ngIf="city.errors?.['minlength']">City must be at least 3 characters long.</div>
          <div *ngIf="city.errors?.['maxlength']">City must be at most 50 characters long.</div>
        </div>
      </div>

      <!-- Country -->
      <div class="mb-3 col-md-4">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="journey.country"
               #country="ngModel" required minlength="3" maxlength="50" [readOnly]="journey.id">
        <div [hidden]="country.valid || country.pristine" class="form-text text-danger">
          <div *ngIf="country.errors?.['required']">Country is required.</div>
          <div *ngIf="country.errors?.['minlength']">Country must be at least 3 characters long.</div>
          <div *ngIf="country.errors?.['maxlength']">Country must be at most 50 characters long.</div>
        </div>
      </div>


      <!-- Journey Date -->
      <div class="mb-3 col-md-4">
        <label for="journeyDate" class="form-label">Journey Date</label>
        <div class="input-group">
          <input type="text" class="form-control" id="journeyDate" name="journeyDate" [(ngModel)]="journey.journeyDate"
                 #journeyDate="ngModel" required placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
                 [readOnly]="journey.id">
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"
                  [disabled]="journey.id"></button>
          <div [hidden]="journeyDate.valid || journeyDate.pristine" class="form-text text-danger">
            <div *ngIf="journeyDate.errors?.['required']">Journey Date is required.</div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="d-flex gap-2 justify-content-center">
    <button type="submit" class="btn btn-outline-primary" *ngIf="!journey.id" [disabled]="!journeyForm.form.valid">
      Save
    </button>
    <button type="reset" class="btn btn-outline-info" *ngIf="!journey.id">Reset</button>
    <button type="button" class="btn btn-outline-info" *ngIf="journey.id" (click)="continue()">Continue</button>
  </div>

</form>
