<app-page-header [pageInfo]="NEW_JOURNEY_PAGE_INFO"></app-page-header>

<section class="container">

  <form (ngSubmit)="onSubmit(journeyForm)" #journeyForm="ngForm">
    <div class="row">

      <div class="col-md-8 col-12 ">

        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-success text-light input-group p-2 border border-2" *ngIf="successMessage">
              {{ successMessage }}
            </div>
            <div class="bg-danger text-light input-group p-2 border border-2" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
          </div>

        </div>

        <!-- Id -->
        <div class="row" *ngIf="journey().id">
          <div class="input-group mb-3 col-12">
            <span class="input-group-text" id="idLabel">ID</span>
            <input type="text" class="form-control" aria-describedby="idLabel" id="id" name="id"
                   [(ngModel)]="journey().id"
                   readonly="readonly">
          </div>
        </div>

        <!-- Name -->
        <div class="row">
          <div class="mb-3 col-12 col-md-8">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="journey().name"
                   #name=ngModel
                   maxlength="50" minlength="5" placeholder="Name your Journey" [readOnly]="journey().id">
            <div [hidden]="name.valid || name.pristine" class="form-text text-danger">
              <div *ngIf="name.errors?.['required']">Name is required.</div>
              <div *ngIf="name.errors?.['minlength']">Name must be at least 5 characters long.</div>
              <div *ngIf="name.errors?.['maxlength']">Name must be at most 50 characters long.</div>
            </div>
          </div>

          <!-- Category -->
          <div class="mb-3 col-12 col-md-4">
            <label for="category" class="form-label">Category</label>

            <input id="category" type="text" class="form-control" [(ngModel)]="journey().category"
                   [ngbTypeahead]="searchCategory"
                   required minlength="3" maxlength="50"
                   [disabled]="journey().id !== ''" name="category" #category="ngModel">

            <div [hidden]="category.valid || category.pristine" class="form-text text-danger">
              <div *ngIf="category.errors?.['required']">Category is required.</div>
              <div *ngIf="category.errors?.['minlength']">Category must be at least 3 characters long.</div>
              <div *ngIf="category.errors?.['maxlength']">Category must be at most 16 characters long.</div>
            </div>
          </div>

        </div>

        <!-- Title -->
        <div class="row">
          <div class="mb-3 col-12 col-md-8">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="journey().title" required
                   #title="ngModel"
                   maxlength="100"
                   minlength="10"
                   placeholder="Shortly describe the Journey" [readOnly]="journey().id">
            <div [hidden]="title.valid || title.pristine" class="form-text text-danger">
              <div *ngIf="title.errors?.['required']">Title is required.</div>
              <div *ngIf="title.errors?.['minlength']">Title must be at least 10 characters long.</div>
              <div *ngIf="title.errors?.['maxlength']">Title must be at most 100 characters long.</div>
            </div>
          </div>

          <!-- icon -->
          <div class="mb-3 col-12 col-md-4">
            <label for="iconType" class="form-label">Icon</label>
            <select id="iconType" class="form-select form-select-sm" aria-label="Icon"
                    (ngModelChange)="refreshMapWithCoordinates()"
                    [(ngModel)]="journey().icon" required [disabled]="journey().id !== ''" name="iconType"
                    #iconType="ngModel">
              @for (iconType of SUPPORTED_ICONS; track iconType) {
                <option [value]="iconType">{{ iconType }}</option>
              }
            </select>
            <div [hidden]="iconType.valid || iconType.pristine" class="form-text text-danger">
              <div *ngIf="iconType.errors?.['required']">Icon is required.</div>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- City -->
          <div class="mb-3 col-md-4">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="journey().city" #city="ngModel"
                   required minlength="3" maxlength="50" [readOnly]="journey().id">
            <div [hidden]="city.valid || city.pristine" class="form-text text-danger">
              <div *ngIf="city.errors?.['required']">City is required.</div>
              <div *ngIf="city.errors?.['minlength']">City must be at least 3 characters long.</div>
              <div *ngIf="city.errors?.['maxlength']">City must be at most 50 characters long.</div>
            </div>
          </div>

          <!-- Country -->
          <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="country" [(ngModel)]="journey().country"
                   #country="ngModel" required minlength="3" maxlength="50" [readOnly]="journey().id">
            <div [hidden]="country.valid || country.pristine" class="form-text text-danger">
              <div *ngIf="country.errors?.['required']">Country is required.</div>
              <div *ngIf="country.errors?.['minlength']">Country must be at least 3 characters long.</div>
              <div *ngIf="country.errors?.['maxlength']">Country must be at most 50 characters long.</div>
            </div>
          </div>


          <!-- Journey Date -->
          <div class="mb-3 col-md-4">
            <label for="journeyDate" class="form-label">Journey Date</label>
            <div class="input-group">
              <input type="text" class="form-control" id="journeyDate" name="journeyDate"
                     [(ngModel)]="journey().journeyDate"
                     #journeyDate="ngModel" required placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
                     [readOnly]="journey().id">
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"
                      [disabled]="journey().id"></button>
              <div [hidden]="journeyDate.valid || journeyDate.pristine" class="form-text text-danger">
                <div *ngIf="journeyDate.errors?.['required']">Journey Date is required.</div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-12 col-md-4">
        <div class="row justify-content-evenly">
          <!-- Map -->
          <div class="col-12" style="position: relative; min-height: 25vh">
            <app-world-map class="h-50" [geoJsonData]="journey().location" [iconType]="journey().icon"
                           [enableGeoCoding]="true" (location)="addGeoCodingLocation($event)"/>
          </div>

          <!-- Location  -->
          <div class="col-12">
            <div class="input-group mb-3">
              <input type="number" class="form-control" placeholder="Longitude" aria-label="Longitude"
                     id="longitude" name="longitude" [(ngModel)]="coordinates()[0]" [readOnly]="journey().id"
                     required min="-180.0" max="180.0" #longitude="ngModel" (blur)="refreshMapWithCoordinates()">
              <button class="btn btn-primary input-group-text dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false" [disabled]="journey().id">
                Quick Actions
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button type="button" class="dropdown-item" (click)="copyCoordinatesFromGoogleMap()">Paste coordinates
                    copied from Google Map
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item" (click)="copyCoordinatesFromClipboard()">Paste from
                    clipboard
                  </button>
                </li>
              </ul>
              <input type="number" class="form-control" placeholder="Latitude" aria-label="Latitude"
                     id="latitude" name="latitude" [(ngModel)]="coordinates()[1]" [readOnly]="journey().id"
                     required min="-90.0" max="90.0" #latitude="ngModel" (blur)="refreshMapWithCoordinates()">
            </div>
            <div class="form-text text-danger">
              <div [hidden]="longitude.valid || longitude.pristine">
                <div *ngIf="longitude.errors?.['required']">Longitude is required.</div>
                <div *ngIf="longitude.errors?.['min']">Longitude must be between -180.0 to 180.0.</div>
                <div *ngIf="longitude.errors?.['max']">Longitude must be between -180.0 to 180.0.</div>
              </div>
              <div [hidden]="latitude.valid || latitude.pristine" class="form-text text-danger">
                <div *ngIf="latitude.errors?.['required']">Latitude is required.</div>
                <div *ngIf="latitude.errors?.['min']">Latitude must be between -90.0 to 90.0.</div>
                <div *ngIf="latitude.errors?.['max']">Latitude must be between -9 0.0 to 90.0.</div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div>
      <div>

        <!-- Memories -->
        <div class="row">
          <div class="mb-3 col">
            <label for="description" class="form-label">Memories</label>
            <mat-button-toggle-group name="markdownStyle" aria-label="Markdown Style"
                                     hideSingleSelectionIndicator="true"
                                     class="ignore-highlight ms-2 small" [(ngModel)]="markdownStyle">
              <mat-button-toggle value="Source">Edit</mat-button-toggle>
              <mat-button-toggle value="Preview">Preview</mat-button-toggle>
            </mat-button-toggle-group>
            <textarea rows="15" class="form-control" id="description" name="description" required minlength="10"
                      maxlength="5000" #description="ngModel" [hidden]="markdownStyle() === 'Preview'"
                      [(ngModel)]="journey().description"
                      placeholder="Detailed information about the Journey" [readOnly]="journey().id"></textarea>
            <div [hidden]="markdownStyle() !== 'Preview'" style="height: 25rem;">
              <app-display-markdown-component
                [title]="journey().title"
                [markdownText]="journey().description"></app-display-markdown-component>
            </div>
            <div [hidden]="description.valid || description.pristine" class="form-text text-danger">
              <div *ngIf="description.errors?.['required']">Memories is required.</div>
              <div *ngIf="description.errors?.['minlength']">Memories must be at least 10 characters long.</div>
              <div *ngIf="description.errors?.['maxlength']">Memories must be at most 5000 characters long.</div>
            </div>
          </div>
        </div>

        <div class="row mb-3">

          <div class="col-12">
            <mat-chip-grid #chipGrid aria-label="Tags">
              @for (tag of journey().tags; track tag) {
                <mat-chip-row color="primary" [highlighted]="true" (removed)="removeTag(tag)" [editable]="false"
                              [removable]="!journey().id">
                  {{ tag }}
                  <button matChipRemove (click)="removeTag(tag)" [disabled]="journey().id !== ''">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
              <input placeholder="Favorite Tags" class="form-control" [readOnly]="journey().id"
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="addTag($event)"/>
            </mat-chip-grid>
          </div>

        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex gap-2 justify-content-center">
        <button type="submit" class="btn btn-primary" *ngIf="!journey().id" [disabled]="!journeyForm.form.valid">
          Save
        </button>
        <button type="reset" class="btn btn-outline-primary" *ngIf="!journey().id">Reset</button>
        <button type="button" class="btn btn-primary" *ngIf="journey().id" (click)="continue()">Continue</button>
      </div>
    </div>
  </form>
</section>
