<div class="container h-100 mt-3 mt-md-0">

  <div class="row d-flex justify-content-center align-items-center h-100 m-auto">
    <div class="col-12 col-md-6 mt-sm-0">

      <div>
        @if (feedbackMessage().success || feedbackMessage().error) {
          <app-feedback-message [message]="feedbackMessage()"></app-feedback-message>
        } @else if (messageBanner === 'unauthenticated') {
          <div class="alert alert-warning" role="alert">
            <i class="bi bi-info-circle pe-none me-2"></i>
            Identity Yourself to access secured resource..!
          </div>
        } @else if (messageBanner === 'logoutSuccessful') {
          <div class="alert alert-success" role="alert">
            <i class="bi bi-info-circle pe-none me-2"></i>
            You have been successfully logged out!
          </div>
        } @else {
          <div class="alert alert-primary" role="alert">
            <i class="bi bi-info-circle pe-none me-2"></i>
            Identity Yourself to access more exciting features..!
          </div>
        }

      </div>


      <div class="card login-card text-white border border-2 border-primary border-opacity-50"
           style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
            <h2 class="fw-bold mb-2">Login</h2>
            <p class="text-white-50 mb-5">Please Identify Yourself!</p>

            <div class="form-outline form-white mb-2">
              <input type="email" id="username" name="username" class="form-control form-control-lg" required
                     placeholder="Username" autofocus
                     [(ngModel)]="form.userName" autocomplete="username" #username="ngModel" maxlength="50"/>
              <label class="form-label small" for="username">Don't have an account?
                <a class="text-light ms-2" [routerLink]="SIGNUP_PAGE_INFO.path" tabindex="-1">Sign Up</a></label>
              <div [hidden]="username.valid || username.pristine" class="form-text text-danger">
                <div *ngIf="username.errors?.['required']">Username is required.</div>
                <div *ngIf="username.errors?.['maxlength']">Username must be at most 50 characters long.</div>
              </div>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="password" id="password" name="password" class="form-control form-control-lg"
                     [(ngModel)]="form.password" required #password="ngModel" maxlength="50" placeholder="Password"
                     autocomplete="current-password"/>
              <label class="form-label small" for="password">Forgot Password?
                <a class="text-light ms-2" [href]="forgotPasswordAssistanceUrl" target="_blank" tabindex="-1">Contact Us</a></label>
              <div [hidden]="password.valid || password.pristine" class="form-text text-danger">
                <div *ngIf="password.errors?.['required']">Password is required.</div>
                <div *ngIf="password.errors?.['maxlength']">Password must be at most 50 characters long.</div>
              </div>
            </div>

            <div class="d-flex flex-column gap-1">
              <button class="btn btn-outline-dark btn-lg" type="submit"
                      [disabled]="!loginForm.form.valid || loginForm.submitted">Submit
              </button>
              <small class="text-light">or</small>
              <button class="btn btn-success btn-lg" type="button" (click)="loginAsGuest()">Login as Guest</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

