<div class="flex h-full justify-center items-center">
  <section class="text-center shadow-lg p-6 rounded-lg">
    <h1 class="text-4xl font-bold bg-gradient-to-r from-red-400 to-red-700 text-transparent bg-clip-text">
      &#123; Access Denied &#125;
    </h1>
    <hr class="my-4 border-0 h-1 bg-gradient-to-r from-red-400 to-red-700 opacity-75">
    <p class="text-primary text-sm">
      <span class="font-bold">Guest</span> account has access to limited features.
    </p>
    <p class="text-primary text-sm mt-2">
      Seems like, you do not have access to view the resource. If you do not think so,
      <a href="https://github.com/nramc/journeys/issues" target="_blank" class="text-primary underline">
        please create a ticket.
      </a>
    </p>
  </section>
</div>
