<div class="container h-100 d-flex justify-content-center align-items-center wrapper">
  <section>
    <h1 class="gradient-text">&#123; Access Denied &#125;</h1>
    <hr class="gradient-bg-dark opacity-75"/>
    <p class="text-primary small"><Span class="fw-bold">Guest</Span> account has access to limited features.</p>
    <p class="text-primary small">Seems like, you do not have access to view the resource.
      If you do not think so, <a href="https://github.com/nramc/journeys/issues" target="_blank">please create
        ticket.</a>
    </p>
  </section>
</div>
