<div class="row">
  <div class="col">
    <app-page-header [pageInfo]="WORKSPACE_PAGE_INFO"></app-page-header>
  </div>
</div>

<mat-stepper orientation="vertical" [linear]="true" #stepper>

  <mat-step [optional]="false" [completed]="journey.id != ''">
    <ng-template matStepLabel>Add Journey</ng-template>
    <ng-template matStepContent>

    </ng-template>
  </mat-step>

  <mat-step [optional]="false" [completed]="journey.id != ''">
    <ng-template matStepLabel>Update Journey</ng-template>
    <ng-template matStepContent>
      <app-update-journey-details [journey]="journey"></app-update-journey-details>
    </ng-template>
  </mat-step>

</mat-stepper>



