@use '@angular/material' as mat;
@use "m3-theme";

/* Application specific styles */
@use "./scss/styles/utilities";
@use "./scss/styles/base_styles";
@use "./scss/styles/material-styles";
@use "./scss/styles/leaflet-styles";

mat.$theme-ignore-duplication-warnings: true

;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Application specific variables */
@import "scss/variables";

/* ng-gallery dependencies */
@import '@angular/cdk/overlay-prebuilt.css';

/* Overriding any library/framework Variables */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import 'node_modules/@maptiler/geocoding-control/style.css';



/* Application theming */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}

.dark {
  @include m3-theme.create-dark-theme();
}

.light-theme {
  @include m3-theme.create-light-theme();
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
