@use '@angular/material' as mat;

/* Application specific variables */
@import "scss/variables";

/* ng-gallery dependencies */
@import '@angular/cdk/overlay-prebuilt.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$journey-primary: mat.define-palette($app-blue-theme);
$journey-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$journey-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$journey-theme: mat.define-light-theme((
  color: (
    primary: $journey-primary,
    accent: $journey-accent,
    warn: $journey-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($journey-theme);

/* Overriding any library/framework Variables */

/* Bootstrap theme customization */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "bootswatch/dist/zephyr/bootswatch";


/* Application specific global styles */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gradient-text {
  background: $primary;
  background: linear-gradient(to right, $indigo 1%, $primary 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* Map marker icons styles */
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $primary;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-icon-wrapper:hover .marker-pin {
  transition: color 1s ease;
  background: $pink;
}

.marker-icon-wrapper:hover i {
  transition: color 1s ease;
  color: $pink !important;
}

// to draw white circle
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

/* ng-bootstrap carousal styles customisation */
.carousel-control-prev-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  background-image: url("assets/svg/chevron-left.svg");
}

.carousel-control-next-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  background-image: url("assets/svg/chevron-right.svg");

}

.slide-media-image {
  object-fit: fill;
  width: 100%;
}

.ng-touched.ng-valid:not(form):not(.ignore-highlight) {
  border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form):not(.ignore-highlight) {
  border-left: 5px solid #a94442; /* red */
}

.h-60-px {
  height: 60px;
}

.w-90-px {
  width: 90px;
}

.h-200-px {
  height: 200px;
}
.w-200-px {
  width: 200px;
}
