@use '@angular/material' as mat;
@use "m3-theme";

/* External framework and libraries styles */
/* ng-gallery dependencies */
@use '@angular/cdk/overlay-prebuilt.css';
@use 'node_modules/@maptiler/geocoding-control/style.css';

/* Application specific styles */
@use "scss/variables";
@use "./scss/styles/utilities";
@use "./scss/styles/base_styles";
@use "./scss/styles/material-styles";
@use "./scss/styles/leaflet-styles";
@use "./scss/styles/markdown-narration-styles";
@use "./scss/styles/app-customization";

@use "tailwindcss";
/* sonar-disable-next-line css:S4662 */
@config "../tailwind.config.js";


/* Application theming */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}

.dark {
  @include m3-theme.create-dark-theme();
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
