/* Application variables */

$appName: 'Journey';

$dark: black;
$light: whitesmoke;
$primary: var(--app-primary);
$primary-light: var(--app-primary);
$indigo: var(--app-primary);
$pink: var(--app-accent);
$primary-bg-subtle: var(--app-primary-container);

