.card {
  cursor: pointer;
  max-width: 20rem !important;
  width: 20rem !important;
  min-width: 20rem !important;
  background-image: linear-gradient(to left top, #b7b5f5, #c5c0f7, #d2cbf8, #ded7fa, #e9e3fc, #efe9fd, #f4f0fe, #f9f6ff, #faf8ff, #fcfbff, #fdfdff, #ffffff);
}
