<section class="mt-3 p-2 rounded-lg flex flex-col">
  <mat-expansion-panel [expanded]="expand()">
    <mat-expansion-panel-header>
      <mat-panel-title class="bg-gradient-to-r from-app-blue to-blue-500 rounded-lg border border-primary">
        <div class="text-decoration-none text-white px-3 py-2 w-full text-lg flex justify-between items-center">
          {{ header() }}
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="gap-4 p-2 show grid grid-cols-3 max-sm:grid-cols-1 max-md:grid-cols-2">
      @for (statistic of data().sort(comparatorFn); track statistic.name; let index = $index) {
        <!-- Material Card -->
        <mat-card
          class="shadow-md hover:shadow-lg transition-shadow duration-300 border border-primary rounded-lg">
          <!-- Card Header -->
          <mat-card-header>
            <div mat-card-avatar class="bg-gradient-to-r from-app-blue to-white rounded-full"></div>
            <mat-card-title>
              <h5 class="text-lg font-bold">{{ statistic.name }}</h5>
            </mat-card-title>
          </mat-card-header>

          <!-- Card Content -->
          <mat-card-content>
            <div class="flex justify-between items-center">
              <h2 class="text-2xl font-bold text-primary">{{ statistic.count }}</h2>
              <span class="text-sm font-medium text-primary">{{ getPercentage(statistic.count, totalCount()) }}%</span>
            </div>
            <mat-progress-bar mode="determinate" [value]="getPercentage(statistic.count, totalCount())"
                              class="mt-2 text-primary"></mat-progress-bar>
          </mat-card-content>
          <mat-card-actions class="inline-flex justify-end">
            <button mat-icon-button aria-label="Timeline" matTooltip="Timeline"
                    (click)="gotoTimeline(type(), statistic.name, $event)">
              <mat-icon class="text-primary">history</mat-icon>
            </button>
            <button mat-icon-button aria-label="Gallery" matTooltip="Gallery"
                    (click)="gotoGallery(type(), statistic.name)">
              <mat-icon class="text-primary">photo_library</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </mat-expansion-panel>

</section>


