.card {
  cursor: pointer;
  max-width: 20rem !important;
  background-image: linear-gradient(to left top, #5272ea, #8c92f0, #b7b5f5, #ddd9fa, #ffffff);
}

.card-0 {
  background-image: linear-gradient(to left top, #8375f3, #917ff8, #b7a9fc, #dbd4ff, #ffffff);
}

.card-1 {
  background-image: linear-gradient(to left top, #cd9cf2, #d5b6f9, #e0cffd, #eee8ff, #ffffff);
}

.card-2 {
  background-image: linear-gradient(to left top, #eaccf8, #ecdafc, #f0e7fe, #f7f3ff, #ffffff);
}

.card-3 {
  background-image: linear-gradient(to left top, #8ec5fc, #b6d1fd, #d5dffe, #edeefe, #ffffff);
}

.card-4 {
  background-image: linear-gradient(to left top, #f0aa9a, #f7bdc3, #f6d3e3, #f5eaf7, #ffffff);
}

.card-5 {
  background-image: linear-gradient(to left top, #f0cb9a, #ffd0c0, #ffdee5, #feeffa, #ffffff);
}

.card-6 {
  background-image: linear-gradient(to left top, #e59af0, #e4b6fa, #e8d0ff, #f0e8ff, #ffffff);
}

.card-7 {
  background-image: linear-gradient(to left top, #f2f65e, #ffdf94, #ffdedf, #fff0ff, #ffffff);
}

.card-8 {
  background-image: linear-gradient(to left top, #f65e63, #fe87a8, #f7b3db, #f1dcf7, #ffffff);
}

