<section class="mt-3 gradient-bg-light p-2 rounded-2 d-flex flex-column">
  <legend class="gradient-bg rounded-2 border border-primary">
    <a class="text-decoration-none text-light ps-2 w-100 fs-5 d-flex" data-bs-toggle="collapse" [href]="'#' + header"
       role="button" aria-expanded="true">
      {{ header }}
    </a>
  </legend>

  <div class="card-group gap-2 show" [id]="header">
    @for (statistic of data.sort(comparatorFn); track statistic.name; let index = $index) {

      <div class="card border border-primary border-1 rounded-2 " [ngClass]="'card-' + index"
           (click)="gotoGallery(type,statistic.name)">
        <div class="card-statistics p-4">
          <div class="mb-4 d-inline-flex justify-content-around w-100">
            <h5 class="card-title gradient-text mb-0">{{ statistic.name }}</h5>
            <button class="btn btn-sm btn-outline-primary" (click)="gotoTimeline(type,statistic.name, $event)">
              <i class="bi bi-clock-history"></i>
            </button>
          </div>
          <div class="row align-items-center mb-2 d-flex">
            <div class="col-8">
              <h2 class="d-flex align-items-center mb-0 gradient-text">
                {{ statistic.count }}
              </h2>
            </div>
            <div class="col-4 text-right gradient-text">
              <span>{{getPercentage(statistic.count, total)}}%</span>
            </div>
          </div>
          <mat-progress-bar mode="determinate" [value]="getPercentage(statistic.count, total)"></mat-progress-bar>

        </div>
      </div>

    }
  </div>

</section>

