<section class="container mx-auto h-full w-full mt-4">
  <div class="flex flex-col items-center justify-center gap-2">
    <div class="p-2">
      <h5 class="text-lg font-bold text-primary">
        Select Multi-factor Authentication Type to verify your identity
      </h5>
    </div>

    @if (mfaOptions?.options?.includes('TOTP')) {
      <div class="w-full px-4 text-center">
        <button mat-flat-button type="button"
                class="flex items-center justify-center md:w-1/2 w-full p-3 text-sm font-bold rounded-full"
                (click)="continueWithTotpVerification()">
          Using Mobile Authenticator
          <mat-icon class="ml-2">screen_lock_portrait</mat-icon>
        </button>
      </div>
    }

    @if (mfaOptions?.options?.includes('EMAIL_ADDRESS')) {
      <div class="w-full px-4 text-center">
        <button mat-flat-button type="button"
                class="flex items-center justify-center md:w-1/2 w-full p-3 text-sm font-bold rounded-full"
                (click)="continueWithEmailCodeVerification()">
          Using Email Code
          <mat-icon class="ml-2">mail_lock</mat-icon>
        </button>
      </div>
    }
    
  </div>
</section>
