<header>
  <app-page-header [pageInfo]="MY_PROFILE_PAGE_INFO"></app-page-header>
</header>

<main>
  <section class="container mx-auto mt-6">
    <form #profileForm="ngForm" *ngIf="myProfileData()" class="w-full max-w-4xl flex flex-col gap-2" (submit)="save(profileForm)">
      <!-- Username -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput id="username" name="username" type="text" [value]="myProfileData().username" readonly>
      </mat-form-field>

      <!-- Account Active -->
      <div>
        <h3 class="text-sm font-medium text-primary">Status:</h3>
        <mat-checkbox id="isAccountActive" name="isAccountActive" [checked]="myProfileData()!.enabled" disabled>
          Active
        </mat-checkbox>
      </div>

      <!-- Roles -->
      <div>
        <h3 class="text-sm font-medium text-primary">Role(s)</h3>
        <div *ngFor="let roleName of myProfileData()?.roles" class="pl-4">
          <mat-checkbox [checked]="true" disabled>{{ roleName }}</mat-checkbox>
        </div>
      </div>

      <!-- Created Date -->
      <mat-form-field class="w-full">
        <mat-label class="font-bold text-primary">Created</mat-label>
        <input matInput id="createdDate" type="datetime-local" [value]="myProfileData()!.createdDate" disabled>
      </mat-form-field>

      <!-- Editable Fields -->
      <mat-form-field class="w-full">
        <mat-label  class="font-bold text-primary">Name</mat-label>
        <input matInput id="name" name="name" [(ngModel)]="myProfileData()!.name" required [readOnly]="!hasAccess()">
      </mat-form-field>

      <!-- Actions -->
      <div class="flex justify-center gap-2">
        <button mat-flat-button color="primary" type="submit" [disabled]="!profileForm.valid" *appHasWriteAccess>
          Save
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()" *appHasWriteAccess>
          Cancel
        </button>
      </div>
    </form>
  </section>

</main>
