<app-page-header [pageInfo]="MY_PROFILE_PAGE_INFO"></app-page-header>


<section class="container d-flex justify-content-start">
  <form #profileForm="ngForm" *ngIf="myProfileData()" class="col-12 col-lg-8" (submit)="save(profileForm)">
    <div class="row mb-3">
      <label for="username" class="col-sm-2 col-form-label text-primary">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" [value]="myProfileData()!.username" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isAccountActive" name="isAccountActive"
                 [checked]="myProfileData()!.enabled" disabled>
          <label class="form-check-label text-primary" for="isAccountActive">
            Active
          </label>
        </div>
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0 text-primary">Role(s)</legend>
      <div class="col-sm-10 text-primary">
        <div class="form-check" *ngFor="let roleName of myProfileData()?.roles">
          <input class="form-check-input" type="checkbox" name="roleName" id="roleName" checked disabled>
          <label class="form-check-label" for="roleName">
            {{ roleName }}
          </label>
        </div>
      </div>
    </fieldset>
    <div class="row mb-3">
      <label for="createdDate" class="col-sm-2 col-form-label text-primary">Created</label>
      <div class="col-sm-10">
        <input type="datetime-local" class="form-control" id="createdDate" name="createdDate"
               [value]="myProfileData()!.createdDate" disabled readonly>
      </div>
    </div>

    <!--  Editable fields  -->
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label text-primary">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="myProfileData()!.name" required
               [disabled]="!hasAccess()">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-center d-flex gap-3 justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" *appHasWriteAccess>Save</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" *appHasWriteAccess>Cancel</button>
      </div>
    </div>


  </form>
</section>
