<nav
  class="navbar navbar-expand-md bg-primary p-0 w-100 align-items-start main-nav-sidebar border border-4 border-primary"
  data-bs-theme="dark">

  <div class="d-flex flex-column flex-shrink-0 p-3 w-100">
    <!-- App Band logo section   -->
    <div class="d-flex flex-row justify-content-between border-bottom border-2 border-secondary">
      <a [routerLink]="HOME_PAGE_INFO.path" class="navbar-brand d-flex flex-row">
        <div class="col">
          <img src="../../../assets/journey-logo.png" alt="Journey" width="32" height="32">
        </div>
        <div class="col">
          <span class="fs-4 pe-none">Journey</span>
          <p class="text-monospace app-tagline text-center">Time travel to the past</p>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav flex-column mb-auto">
        <li class="nav-item">
          <a [routerLink]="HOME_PAGE_INFO.path" class="nav-link" routerLinkActive="active" aria-current="page">
            <i class="bi bi-house-door pe-none me-2"></i>{{HOME_PAGE_INFO.name}}
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="NEW_JOURNEY_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-pin-map pe-none me-2"></i>
            {{NEW_JOURNEY_PAGE_INFO.name}}
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="JOURNEY_SEARCH_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-boxes pe-none me-2"></i>
            {{JOURNEY_SEARCH_PAGE_INFO.name}}
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="DASHBOARD_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-speedometer2 pe-none me-2"></i>
            {{DASHBOARD_PAGE_INFO.name}}
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="SEARCH_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-search pe-none me-2"></i>
            {{SEARCH_PAGE_INFO.name}}
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="GALLERY_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-grid pe-none me-2"></i>
            {{GALLERY_PAGE_INFO.name}}
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="WORKSPACE_PAGE_INFO.path" class="nav-link" routerLinkActive="active">
            <i class="bi bi-code-slash pe-none me-2"></i>
            {{WORKSPACE_PAGE_INFO.name}}
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
