<nav class="navbar navbar-expand-lg bg-primary p-0 w-100 align-items-start main-nav-sidebar" data-bs-theme="dark">

  <div class="d-flex flex-column flex-shrink-0 p-3 w-100">
    <div class="d-flex flex-row justify-content-between">
      <a href="/" class="navbar-brand d-flex flex-row">
        <div class="col">
          <img src="assets/journeys-logo.png" alt="Journeys" width="32" height="32">
        </div>
        <div class="col">
          <span class="fs-4 pe-none">Journeys</span>
          <p class="text-monospace app-tagline text-center">Time travel to the past</p>
        </div>


      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="bi bi-house-door pe-none me-2"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-speedometer2 pe-none me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-search pe-none me-2"></i>
            Search Tours
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-grid pe-none me-2"></i>
            Gallery
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-code-slash pe-none me-2"></i>
            Workspace
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
