<nav class="navbar navbar-expand-lg bg-body-tertiary h-100 p-0">

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="assets/journeys-logo.png" alt="Journeys" width="32" height="32">
      <span class="fs-4 pe-none">Journeys</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <hr>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-white" aria-current="page">
            <i class="bi bi-house-door pe-none me-2"></i>Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-speedometer2 pe-none me-2"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-search pe-none me-2"></i>
            Search Tours
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-grid pe-none me-2"></i>
            Gallery
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-code-slash pe-none me-2"></i>
            Workspace
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
