@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/* For medium and large screens */
@include media-breakpoint-up(md) {
  .main-nav-sidebar {
    height: 100%;
    background-image: url('/assets/svg/side-nav-bar-wave.svg');
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
}

.app-tagline {
  font-size: small;
}
